openapi: 3.0.3
info:
  title: Atelier API
  version: 1.0.0
  description: |
    Atelier - AI 社員常駐型開発プロジェクト統合管理 SaaS の API。

    ★ API 契約凍結: 2026-05-20T13:30:00+09:00 ★
    以後の変更は ADR + 影響解析 + 承認フロー必須。

    認証 4 系統:
    - 一般 JWT (Supabase Auth)
    - クライアント別 JWT (role=client_portal, project_id クレーム限定・R-T08 対応)
    - MCP Token
    - Service Role (バックエンド内部 + Bridge worker)
  contact:
    name: ENGINE BASE
    email: info@engine-base.com
  license:
    name: Proprietary

servers:
  - url: https://atelier.app/api/v1
    description: 本番
  - url: https://*.preview.atelier.app/api/v1
    description: Preview Deploy
  - url: http://localhost:8000/api/v1
    description: ローカル開発

tags:
  - name: auth
    description: 認証・サインアップ・退会
  - name: workspaces
    description: ワークスペース管理
  - name: projects
    description: プロジェクト管理
  - name: employees
    description: AI 社員（10 名固定）
  - name: chat
    description: チャット (F-CTX01)
  - name: workflow
    description: 9 工程ワークフロー
  - name: flow
    description: プロジェクト進行フロー（GAP-150 — COO ハブ&スポーク / ステージゲート）
  - name: tasks
    description: タスク管理（6 列ライフサイクル）
  - name: kanban-tools
    description: Hermes 互換 kanban tools（Bridge worker 専用）
  - name: executions
    description: 実行モニター・Bridge
  - name: approval-inbox
    description: 承認待ち
  - name: client-portal
    description: クライアント招待（別 JWT 系統）
  - name: knowledge
    description: ナレッジ管理
  - name: admin
    description: 運営（platform_admin 限定）
  - name: public
    description: 公開ページ（法令）
  - name: mcp
    description: MCP Server

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    bridgeToken:
      type: apiKey
      in: header
      name: X-Bridge-Token
    clientPortalAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # ========================================================================
    # 共通
    # ========================================================================
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, request_id]
          properties:
            code:
              type: string
              enum:
                - BAD_REQUEST
                - UNAUTHENTICATED
                - INVALID_CREDENTIALS
                - INVALID_BRIDGE_TOKEN
                - INVALID_INVITATION_TOKEN
                - FORBIDDEN
                - ACCOUNT_LOCKED
                - ACCOUNT_DELETED
                - NOT_FOUND
                - CONFLICT
                - INVALID_LIFECYCLE_STAGE
                - DEPENDENCIES_NOT_MET
                - ALREADY_DECIDED
                - EMAIL_ALREADY_REGISTERED
                - EMAIL_IN_DELETION_GRACE
                - OWNER_OF_WORKSPACE_WITH_OTHERS
                - INVITATION_EXPIRED
                - VALIDATION_ERROR
                - CONSENT_REQUIRED
                - RATE_LIMITED
                - BYOK_QUOTA_EXCEEDED
                - INTERNAL_ERROR
                - BRIDGE_OFFLINE
                - PARALLEL_LIMIT_REACHED
                - F_CTX01_TIMEOUT
            message: { type: string }
            details:
              type: array
              items:
                type: object
                properties:
                  field: { type: string }
                  code: { type: string }
                  message: { type: string }
            request_id: { type: string, format: uuid }
            trace_id: { type: string }

    PaginationMeta:
      type: object
      properties:
        next_cursor: { type: string, nullable: true }
        limit: { type: integer }
        total_estimate: { type: integer }

    # ========================================================================
    # auth
    # ========================================================================
    User:
      type: object
      required: [id, email, display_name, language, ai_learning_opt_out, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        display_name: { type: string, maxLength: 50 }
        avatar_url: { type: string, nullable: true }
        language: { type: string, enum: [ja, en] }
        ai_learning_opt_out: { type: boolean, default: true }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    Me:
      type: object
      required: [id, email, display_name]
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        display_name: { type: string, nullable: true }

    MeUpdate:
      type: object
      required: [display_name]
      properties:
        display_name: { type: string, minLength: 1, maxLength: 100 }

    SearchHit:
      type: object
      required: [id, kind, title, snippet]
      properties:
        id: { type: string }
        kind: { type: string, enum: [project, task, knowledge, employee] }
        title: { type: string }
        snippet: { type: string }

    SigninRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }

    AuthResponse:
      type: object
      required: [user, access_token]
      properties:
        user: { $ref: '#/components/schemas/User' }
        workspace: { $ref: '#/components/schemas/Workspace' }
        access_token: { type: string }
        refresh_token: { type: string, description: "opaque, httpOnly cookie" }

    SigninResponse:
      type: object
      required: [access_token, token_type, expires_at, user_id, email]
      properties:
        access_token: { type: string, description: "HS256 JWT (sub=user.id)" }
        token_type: { type: string, enum: [bearer] }
        expires_at: { type: string, format: date-time }
        user_id: { type: string, format: uuid }
        email: { type: string, format: email }
        display_name: { type: string, nullable: true }
        refresh_token: { type: string, nullable: true, description: "opaque refresh token (T-A-04)" }

    # T-A-03: Magic Link + OAuth
    MagicLinkRequest:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email }
        redirect_url: { type: string, maxLength: 500, nullable: true }

    MagicLinkAccepted:
      type: object
      required: [accepted, delivery]
      properties:
        accepted: { type: boolean }
        delivery: { type: string, enum: [email] }

    MagicLinkVerifyRequest:
      type: object
      required: [email, token]
      properties:
        email: { type: string, format: email }
        token: { type: string, minLength: 10, maxLength: 200 }

    OAuthRedirectResponse:
      type: object
      required: [authorize_url, state, provider]
      properties:
        authorize_url: { type: string }
        state: { type: string }
        provider: { type: string, enum: [google, github] }

    # T-A-04: Password Reset + Refresh
    PasswordResetRequest:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email }

    PasswordResetAccepted:
      type: object
      required: [accepted]
      properties:
        accepted: { type: boolean }

    PasswordResetConfirmRequest:
      type: object
      required: [email, token, new_password]
      properties:
        email: { type: string, format: email }
        token: { type: string, minLength: 10, maxLength: 200 }
        new_password: { type: string, minLength: 8, maxLength: 128 }

    PasswordResetConfirmResponse:
      type: object
      required: [user_id, email, password_changed_at]
      properties:
        user_id: { type: string, format: uuid }
        email: { type: string, format: email }
        password_changed_at: { type: string, format: date-time }

    RefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token: { type: string, minLength: 10, maxLength: 200 }

    RefreshResponse:
      type: object
      required: [access_token, token_type, expires_at, refresh_token]
      properties:
        access_token: { type: string }
        token_type: { type: string, enum: [bearer] }
        expires_at: { type: string, format: date-time }
        refresh_token: { type: string, description: "rotated new opaque token" }

    # T-A-05: 退会
    AccountDeleteRequest:
      type: object
      required: [password]
      properties:
        password: { type: string, minLength: 1, maxLength: 128 }
        reason: { type: string, maxLength: 2000, nullable: true }

    AccountDeleteResponse:
      type: object
      required: [user_id, scheduled_purge_at, deleted_at]
      properties:
        user_id: { type: string, format: uuid }
        scheduled_purge_at: { type: string, format: date-time }
        deleted_at: { type: string, format: date-time }

    AccountRestoreRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 1, maxLength: 128 }

    AccountRestoreResponse:
      type: object
      required: [user_id, restored_at]
      properties:
        user_id: { type: string, format: uuid }
        restored_at: { type: string, format: date-time }

    # T-A-45: API 契約凍結
    FreezeRequest:
      type: object
      properties:
        note: { type: string, nullable: true }

    FreezeStatus:
      type: object
      required: [frozen, total_paths, total_methods, evaluated_at]
      properties:
        frozen: { type: boolean }
        frozen_at: { type: string, format: date-time, nullable: true }
        frozen_by_user_id: { type: string, format: uuid, nullable: true }
        last_note: { type: string, nullable: true }
        total_paths: { type: integer, minimum: 0 }
        total_methods: { type: integer, minimum: 0 }
        evaluated_at: { type: string, format: date-time }

    ScreenCoverageEntry:
      type: object
      required: [screen_id, endpoint_count, endpoints]
      properties:
        screen_id: { type: string }
        endpoint_count: { type: integer, minimum: 0 }
        endpoints:
          type: array
          items: { type: string }

    ScreenCoverageReport:
      type: object
      required: [total_screens, covered_screens, uncovered_screens, coverage_pct, entries, evaluated_at]
      properties:
        total_screens: { type: integer, minimum: 0 }
        covered_screens: { type: integer, minimum: 0 }
        uncovered_screens:
          type: array
          items: { type: string }
        coverage_pct: { type: number, minimum: 0, maximum: 100 }
        entries:
          type: array
          items: { $ref: '#/components/schemas/ScreenCoverageEntry' }
        evaluated_at: { type: string, format: date-time }

    # ========================================================================
    # workspace
    # ========================================================================
    Workspace:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string, nullable: true }
        icon: { type: string, nullable: true, description: '絵文字または 1〜3 文字 (最大 8 バイト)。null は頭文字表示 (GAP-021)' }
        member_count: { type: integer }
        project_count: { type: integer }
        plan: { type: string, enum: [free, pro, enterprise] }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    InviteMemberRequest:
      type: object
      required: [email, role]
      properties:
        email: { type: string, format: email }
        role: { type: string, enum: [owner, member, viewer] }
        message: { type: string, maxLength: 500 }

    # ========================================================================
    # project
    # ========================================================================
    Project:
      type: object
      properties:
        id: { type: string, format: uuid }
        workspace_id: { type: string, format: uuid }
        name: { type: string }
        client_name: { type: string, nullable: true, maxLength: 200 }
        description: { type: string, nullable: true }
        type: { type: string, enum: [self_product, client_project, personal] }
        status: { type: string, enum: [in_progress, draft, paused, archived] }
        ai_learning_opt_out: { type: boolean }
        # GAP-017: プロジェクト跨ぎナレッジ参照 (既定 true)
        cross_project_knowledge: { type: boolean }
        current_phase:
          type: string
          enum: [hearing, requirements, architecture, design, breakdown, tasks, implementation, verification, delivery]
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ProjectCredential:
      type: object
      description: プロジェクト・シークレットの1件（plaintext / encrypted は含まない、値マスク）
      required: [id, project_id, name, kind, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        name: { type: string }
        kind: { type: string, enum: [api_key, password, token, connection_string, other] }
        last4: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CredentialCreate:
      type: object
      required: [name, value]
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
        kind: { type: string, enum: [api_key, password, token, connection_string, other] }
        value: { type: string, minLength: 1, maxLength: 10000, description: plaintext（保存時に暗号化） }

    CredentialUpdate:
      type: object
      properties:
        name: { type: string, minLength: 1, maxLength: 200, nullable: true }
        kind: { type: string, enum: [api_key, password, token, connection_string, other], nullable: true }

    CredentialRevealRequest:
      type: object
      description: "GAP-131: reveal の再認証。TTL (既定 300 秒) 内の再認証が残っていれば省略可"
      properties:
        password: { type: string, maxLength: 200, nullable: true, description: ログインパスワードの再入力 }

    CredentialReveal:
      type: object
      description: reveal 応答（権限者のみ・監査記録済の上で plaintext を返す）
      required: [id, name, value]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        value: { type: string, description: plaintext（復号済） }

    CreateProjectRequest:
      type: object
      required: [workspace_id, name, type]
      properties:
        workspace_id: { type: string, format: uuid }
        name: { type: string, maxLength: 100 }
        type: { type: string, enum: [self_product, client_project, personal] }
        description: { type: string }

    # ========================================================================
    # task
    # ========================================================================
    Task:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        phase: { type: string }
        # GAP-152: 帰属フェーズ (追加分のタスク・依存を分けて扱う)
        delivery_phase_id: { type: string, format: uuid, nullable: true }
        category: { type: string }
        title: { type: string }
        description: { type: string, nullable: true }
        type: { type: string, enum: [foundation, screen, feature, verification, infrastructure, migration] }
        estimated_hours: { type: integer, minimum: 1, maximum: 24 }
        priority: { type: string, enum: [critical, high, medium, low] }
        lifecycle_stage:
          type: string
          enum: [triage, ready, in_progress, blocked, awaiting, done]
          description: Hermes 6 列モデル
        dispatch_status:
          type: string
          enum: [queued, spawning, running, completing, dead, reclaimed]
          nullable: true
        assigned_employee_id:
          type: string
          enum: [jarvis, tony, natasha, steve, peter, strange, wanda, thor, vision, tchalla]
        # Hermes 互換
        summary: { type: string, nullable: true }
        metadata: { type: object }
        blocked_reason: { type: string, nullable: true }
        retry_count: { type: integer, minimum: 0, maximum: 3 }
        worktree_path: { type: string, nullable: true }
        worker_pid: { type: integer, nullable: true }
        # 依存関係
        dependencies: { type: array, items: { type: string, format: uuid } }
        prerequisites: { type: array, items: { type: string, format: uuid } }
        blocks: { type: array, items: { type: string, format: uuid } }
        # 紐付け
        acceptance_criteria_id: { type: string, format: uuid, nullable: true }
        mock_id: { type: string, format: uuid, nullable: true }
        # GAP-025: 検証担当 + 変更ファイル (S-I02 メタ行)
        verifier_employee_id: { type: string, format: uuid, nullable: true }
        files_changed: { type: array, items: { type: string } }
        # GAP-140: 紐づく画面モックの画面名 (表示用)
        mock_screen_name: { type: string, nullable: true }
        # 系譜
        parent_task_id: { type: string, format: uuid, nullable: true }
        origin_type:
          type: string
          enum: [initial_decomposition, refactor, scope_change_auto, manual_added]
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    AcceptanceCriteria:
      type: object
      properties:
        id: { type: string, format: uuid }
        task_id: { type: string, format: uuid }
        html_path: { type: string }
        items: { type: array, items: { type: object } }
        version: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    TaskExecution:
      type: object
      properties:
        id: { type: string, format: uuid }
        task_id: { type: string, format: uuid }
        started_at: { type: string, format: date-time }
        completed_at: { type: string, format: date-time, nullable: true }
        duration_seconds: { type: number, nullable: true, description: "GAP-025④: 実測経過秒 (running は now 起点)" }
        score: { type: number, nullable: true }
        ac_pass_rate: { type: number, nullable: true }
        test_pass_rate: { type: number, nullable: true }
        verification_score: { type: number, nullable: true }
        retry_count: { type: integer }
        status: { type: string }
        claude_code_session_id: { type: string, nullable: true }
        logs_storage_path: { type: string, nullable: true }
        error_summary: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    DeliveryPhase:
      type: object
      description: GAP-152 — 納品単位のフェーズ (フェーズ1..N)。frozen = 確定済み (成果物凍結)。
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        seq: { type: integer, minimum: 1 }
        name: { type: string }
        status: { type: string, enum: [active, frozen] }
        note: { type: string, nullable: true }
        frozen_at: { type: string, format: date-time, nullable: true }
        mock_count: { type: integer }
        output_count: { type: integer }
        task_count: { type: integer }
        stages_done: { type: integer }
        stages_total: { type: integer }

    FlowStage:
      type: object
      description: GAP-150 — プロジェクト進行フローの 1 ステージ (現在ステージは最小 seq の pending)
      required: [id, stage_key, seq, title, department, status, skippable, hard_gate, current]
      properties:
        id: { type: string, format: uuid }
        stage_key: { type: string }
        seq: { type: integer }
        title: { type: string }
        department: { type: string }
        status: { type: string, enum: [pending, done, skipped] }
        skippable: { type: boolean }
        hard_gate: { type: boolean, description: 致命工程 — 完了に confirm=true 必須・スキップ不可 }
        skip_reason: { type: string, nullable: true }
        completed_at: { type: string, format: date-time, nullable: true }
        current: { type: boolean }
        employee_id: { type: string, format: uuid, nullable: true }
        employee_name: { type: string, nullable: true }
        employee_icon: { type: string, nullable: true }
        thread_id: { type: string, format: uuid, nullable: true }

    Mock:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        screen_name: { type: string }
        html_storage_path: { type: string }
        version: { type: integer }
        parent_mock_id: { type: string, format: uuid, nullable: true }
        # GAP-152: 帰属フェーズ (作成時の active フェーズ)
        delivery_phase_id: { type: string, format: uuid, nullable: true }
        meta_tags: { type: object, nullable: true }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ContentUrl:
      type: object
      required: [url]
      properties:
        url: { type: string }

    AiEmployee:
      type: object
      properties:
        id: { type: string, format: uuid }
        workspace_id: { type: string, format: uuid }
        template_id: { type: string, format: uuid, nullable: true }
        name: { type: string }
        display_name: { type: string }
        icon: { type: string, nullable: true }
        role: { type: string, enum: [coo, lead, member] }
        department: { type: string, enum: [executive, sales, product, architecture, design, dev_qa, cross_functional] }
        tone_preset: { type: string, enum: [polite, friendly, casual, concise, coaching] }
        custom_tone_text: { type: string, nullable: true }
        attached_skills: { type: array, items: { type: string, format: uuid } }
        attached_knowledge_cats: { type: array, items: { type: string } }
        is_default: { type: boolean }
        archived: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    EmployeeIconUploadUrlRequest:
      type: object
      required: [file_name, mime_type, file_size_bytes]
      properties:
        file_name: { type: string, minLength: 1, maxLength: 200 }
        mime_type: { type: string, description: "image/png | image/jpeg | image/webp のみ許可" }
        file_size_bytes: { type: integer, minimum: 1, description: "512KB (524288) 以下" }

    EmployeeIconUploadUrlResponse:
      type: object
      required: [upload_url, storage_path]
      properties:
        upload_url: { type: string, description: "実ファイル PUT 先の署名付き URL" }
        storage_path: { type: string, description: "PUT 完了後に PATCH icon へ格納する path (avatars/...)" }

    AiEmployeeTemplate:
      type: object
      properties:
        id: { type: string, format: uuid }
        default_name: { type: string }
        default_display_name: { type: string }
        default_icon: { type: string, nullable: true }
        department: { type: string, enum: [executive, sales, product, architecture, design, dev_qa, cross_functional] }
        role: { type: string, enum: [coo, lead, member] }
        default_skills: { type: array, items: { type: string, format: uuid } }
        default_knowledge_cats: { type: array, items: { type: string } }
        system_prompt: { type: string }
        specialty: { type: string }
        version: { type: integer }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    AuditLog:
      type: object
      properties:
        id: { type: string, format: uuid }
        workspace_id: { type: string, format: uuid, nullable: true }
        actor_type: { type: string, enum: [ai, user, system, anonymous] }
        actor_id: { type: string }
        action: { type: string }
        target_type: { type: string }
        target_id: { type: string, format: uuid, nullable: true }
        before: { type: object, nullable: true }
        after: { type: object, nullable: true }
        ip_address: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    AdminSkill:
      type: object
      description: 運営 admin 向け skill 詳細 (T-A-42)。
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        version: { type: string }
        description: { type: string, nullable: true }
        content_md: { type: string }
        assets_storage_path: { type: string, nullable: true }
        allowed_employee_roles: { type: array, items: { type: string } }
        allowed_employee_ids: { type: array, items: { type: string, format: uuid } }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    SkillLite:
      type: object
      description: 認証ユーザー向けスキルカタログ (S-C01/S-C02 表示用 read-only。RLS skills_select_all)。
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        version: { type: string }
        description: { type: string, nullable: true }
        is_active: { type: boolean }

    SkillCreate:
      type: object
      description: スキル新規登録（SKILL.md upload, T-A-49 / F-007）。name+version unique・version semver。
      required: [name, version, content_md]
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
        version: { type: string, minLength: 1, maxLength: 64, description: 'semver (例 1.0.0)' }
        content_md: { type: string, minLength: 1 }
        description: { type: string, nullable: true }
        assets_storage_path: { type: string, nullable: true }
        allowed_employee_roles: { type: array, items: { type: string }, maxItems: 50 }
        allowed_employee_ids: { type: array, items: { type: string, format: uuid }, maxItems: 200 }
        is_active: { type: boolean, default: true }

    SkillUpdate:
      type: object
      description: スキル編集（name/version は不変。新バージョンは create で別行, T-A-49）。
      properties:
        content_md: { type: string, minLength: 1, nullable: true }
        description: { type: string, nullable: true }
        assets_storage_path: { type: string, nullable: true }
        allowed_employee_roles: { type: array, items: { type: string }, maxItems: 50, nullable: true }
        allowed_employee_ids: { type: array, items: { type: string, format: uuid }, maxItems: 200, nullable: true }
        is_active: { type: boolean, nullable: true }

    SkillAttachRequest:
      type: object
      description: AI 社員へのスキル装着 / 解除（T-A-49）。
      required: [ai_employee_id]
      properties:
        ai_employee_id: { type: string, format: uuid }
        attached: { type: boolean, default: true, description: 'true=装着 / false=解除' }

    AdminTemplate:
      type: object
      description: 運営 admin 向け AI 社員テンプレ詳細 (T-A-42)。
      properties:
        id: { type: string, format: uuid }
        default_name: { type: string }
        default_display_name: { type: string }
        default_icon: { type: string, nullable: true }
        department: { type: string }
        role: { type: string }
        default_skills: { type: array, items: { type: string, format: uuid } }
        default_knowledge_cats: { type: array, items: { type: string } }
        system_prompt: { type: string }
        specialty: { type: string }
        version: { type: integer }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    AdminTemplateUpdate:
      type: object
      description: AI 社員テンプレの部分更新 (GAP-031⑤ / T-A-42 scope expand)。未指定フィールドは変更しない。
      properties:
        default_display_name: { type: string, minLength: 1, maxLength: 100 }
        department: { type: string, enum: [executive, sales, product, architecture, design, dev_qa, cross_functional] }
        role: { type: string, enum: [coo, lead, member] }
        system_prompt: { type: string, minLength: 1, maxLength: 20000 }
        specialty: { type: string, maxLength: 500 }
        default_skills: { type: array, maxItems: 50, items: { type: string, format: uuid } }
        default_knowledge_cats: { type: array, maxItems: 50, items: { type: string, minLength: 1, maxLength: 100 } }

    AdminTemplateDeployment:
      type: object
      description: テンプレの実展開先 (ai_employees.template_id 参照の実カウント — GAP-031⑤)。
      properties:
        template_id: { type: string, format: uuid }
        workspace_count: { type: integer }
        employee_count: { type: integer }

    AdminDashboard:
      type: object
      description: 運営 admin dashboard 集計 (T-A-41 / admin 所属 workspaces scope)。
      properties:
        workspace_count: { type: integer }
        project_count: { type: integer }
        ai_employee_count: { type: integer }
        audit_log_count_24h: { type: integer }
        generated_at: { type: string, format: date-time }

    AdminGoal:
      type: object
      description: 事業 KPI 目標の記録 (E admin_goals — GAP-019。運営が明示的に設定)
      properties:
        id: { type: string, format: uuid }
        goal_key: { type: string }
        title: { type: string }
        target_count: { type: integer }
        deadline: { type: string, format: date }
        note: { type: string, nullable: true }
        updated_at: { type: string, format: date-time }

    AdminMission:
      type: object
      description: ミッションヒーロー実データ (GAP-019 — current/added_30d は実カウント)
      properties:
        goal: { allOf: [{ $ref: '#/components/schemas/AdminGoal' }], nullable: true }
        current_count: { type: integer }
        added_30d: { type: integer }
        remaining: { type: integer, nullable: true }
        months_left: { type: integer, nullable: true }
        needed_per_month: { type: integer, nullable: true }

    AdminTrends:
      type: object
      description: 週次トレンド実累計 (GAP-019。billing 未導入のため MRR は実額 0)
      properties:
        points:
          type: array
          items:
            type: object
            properties:
              week_start: { type: string, format: date }
              workspaces: { type: integer }
              projects: { type: integer }
        billing_enabled: { type: boolean }
        mrr_yen: { type: integer }

    AcquisitionRecord:
      type: object
      description: 取得チャネルの記録 1 件 (E acquisition_records — GAP-019)
      properties:
        id: { type: string, format: uuid }
        channel: { type: string, enum: [referral, sns, personal, other] }
        note: { type: string }
        occurred_on: { type: string, format: date }
        created_at: { type: string, format: date-time }

    Acquisitions:
      type: object
      properties:
        channels:
          type: array
          items:
            type: object
            properties:
              channel: { type: string }
              count: { type: integer }
        recent: { type: array, items: { $ref: '#/components/schemas/AcquisitionRecord' } }
        total: { type: integer }

    HealthCheckRow:
      type: object
      description: プラットフォーム健全性 1 行 (GAP-019 — 実計測/実設定状態のみ)
      properties:
        name: { type: string }
        status: { type: string, enum: [ok, warn, err] }
        detail: { type: string }
        meta: { type: string }

    BetaFeedback:
      type: object
      description: ベータ FB (E beta_feedback — GAP-019)
      properties:
        id: { type: string, format: uuid }
        email: { type: string }
        category: { type: string, enum: [bug, feature, praise, other] }
        content: { type: string }
        status: { type: string, enum: [open, resolved] }
        created_at: { type: string, format: date-time }
        resolved_at: { type: string, format: date-time, nullable: true }

    AdminCost:
      type: object
      description: 運営コスト記録 1 件 (E admin_costs — GAP-019)
      properties:
        id: { type: string, format: uuid }
        month: { type: string, format: date }
        name: { type: string }
        description: { type: string }
        amount_yen: { type: integer }

    AdminCosts:
      type: object
      properties:
        month: { type: string, format: date }
        items: { type: array, items: { $ref: '#/components/schemas/AdminCost' } }
        total_yen: { type: integer }

    AdminPlatformStats:
      type: object
      description: platform 横断統計 (GAP-019 — KPI bento 拡張の実データ)
      properties:
        task_executions_30d: { type: integer }
        avg_score_30d: { type: number, nullable: true }
        beta_feedback_total: { type: integer }
        beta_feedback_open: { type: integer }
        bridge_connected: { type: integer }
        users_total: { type: integer }
        users_deleted_30d: { type: integer }
        workspaces_added_30d: { type: integer }

    AdminUser:
      type: object
      description: 運営 admin 用メンバー詳細 (T-A-41 / workspace_member_details definer 経由)。
      properties:
        user_id: { type: string, format: uuid }
        email: { type: string }
        display_name: { type: string, nullable: true }
        role: { type: string }
        joined_at: { type: string, format: date-time }
        workspace_id: { type: string, format: uuid }

    ClientInvitation:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        email: { type: string, format: email }
        scopes: { type: array, items: { type: string } }
        expires_at: { type: string, format: date-time }
        used_at: { type: string, format: date-time, nullable: true }
        revoked_at: { type: string, format: date-time, nullable: true }
        client_display_name: { type: string, nullable: true }
        use_count: { type: integer, minimum: 0, description: ポータルサインイン成功回数 (GAP-027②) }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ClientInvitationWithToken:
      allOf:
        - { $ref: '#/components/schemas/ClientInvitation' }
        - type: object
          properties:
            token: { type: string, description: 生成時のみ返る raw token (招待 URL 用) }

    WorkspaceMember:
      type: object
      properties:
        workspace_id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        email: { type: string, format: email }
        display_name: { type: string, nullable: true }
        role: { type: string, enum: [owner, member, viewer] }
        joined_at: { type: string, format: date-time }

    ChatThread:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        ai_employee_id: { type: string, format: uuid }
        title: { type: string, nullable: true }
        archived: { type: boolean }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        message_count: { type: integer, default: 0, description: '一覧表示用のメッセージ件数 (S-F01/S-E01)' }
        phase_id: { type: string, format: uuid, nullable: true, description: 'スレッドの属する工程。null=工程横断 (S-E01 グルーピング)' }
        last_message_preview: { type: string, nullable: true, description: '一覧の最終メッセージ抜粋 (S-E01 スレッドカード)' }

    ChatAttachment:
      type: object
      required: [file_name, mime_type, file_size_bytes, storage_path]
      properties:
        file_name: { type: string, minLength: 1, maxLength: 200 }
        mime_type: { type: string, description: "png/jpeg/webp/gif/pdf/plain/markdown/csv/zip のみ許可" }
        file_size_bytes: { type: integer, minimum: 1, description: "10MB (10485760) 以下" }
        storage_path: { type: string, description: "chat-attachments/{thread_id}/... (他スレッド配下は 422)" }

    ChatAttachmentUploadUrlRequest:
      type: object
      required: [thread_id, file_name, mime_type, file_size_bytes]
      properties:
        thread_id: { type: string, format: uuid }
        file_name: { type: string, minLength: 1, maxLength: 200 }
        mime_type: { type: string }
        file_size_bytes: { type: integer, minimum: 1 }

    ChatAttachmentUploadUrlResponse:
      type: object
      required: [upload_url, storage_path]
      properties:
        upload_url: { type: string, description: "実ファイル PUT 先の署名付き URL" }
        storage_path: { type: string, description: "送信時の attachments に含める path" }

    ChatCommandRequest:
      type: object
      required: [command, args]
      properties:
        command: { type: string, enum: [decision, task], description: "decision = /決定 (確定事項記録) / task = /タスク化 (triage 起票)。/要約 は LLM 依頼のため SSE 経路" }
        args: { type: string, minLength: 1, maxLength: 2000 }

    ChatCommandResponse:
      type: object
      required: [command, target_type, target_id, system_message_id, note]
      properties:
        command: { type: string, enum: [decision, task] }
        target_type: { type: string }
        target_id: { type: string, format: uuid }
        system_message_id: { type: string, format: uuid }
        note: { type: string }

    ChatMessage:
      type: object
      properties:
        id: { type: string, format: uuid }
        thread_id: { type: string, format: uuid }
        role: { type: string, enum: [user, assistant, system, tool] }
        content: { type: string }
        parent_message_id: { type: string, format: uuid, nullable: true }
        token_count: { type: integer, nullable: true }
        attachments:
          type: array
          items: { $ref: '#/components/schemas/ChatAttachment' }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    MessageFeedback:
      type: object
      properties:
        feedback_id: { type: string, format: uuid }
        message_id: { type: string, format: uuid }
        value: { type: string, enum: [up, down] }
        comment: { type: string, nullable: true }
        recorded_at: { type: string, format: date-time }

    Phase:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        order: { type: integer }
        name: { type: string }
        description: { type: string, nullable: true }
        status: { type: string, enum: [pending, in_progress, completed, skipped] }
        # GAP-004: 担当 AI 社員 (ai_employees.id 群)
        assigned_employee_ids: { type: array, items: { type: string, format: uuid } }
        started_at: { type: string, format: date-time, nullable: true }
        completed_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    PhaseProposal:
      type: object
      description: COO AI (ジャービス) による次フェーズ提案 (E phase_proposals — GAP-022)
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string, nullable: true }
        reason: { type: string, description: "提案理由 (「提案理由を見る」の実体)" }
        proposed_order: { type: integer }
        proposed_by: { type: string }
        status: { type: string, enum: [pending, approved, rejected] }
        approved_phase_id: { type: string, format: uuid, nullable: true }
        created_at: { type: string, format: date-time }
        resolved_at: { type: string, format: date-time, nullable: true }

    ImpactAnalysis:
      type: object
      description: F-IMP01 影響範囲解析の結果 (dependencies 推移的走査 — GAP-022)
      properties:
        id: { type: string, format: uuid }
        task_id: { type: string, format: uuid }
        task_title: { type: string }
        target_phase_id: { type: string, format: uuid }
        target_phase_name: { type: string }
        affected:
          type: array
          items:
            type: object
            properties:
              id: { type: string, format: uuid }
              title: { type: string }
              lifecycle_stage: { type: string }
        done_count: { type: integer, description: "影響先のうち完了済 — apply でリファクタ自動起票の対象" }
        applied: { type: boolean }

    PhaseTaskStats:
      type: object
      description: phase 別タスク集計 (GAP-022 — モックの phase-tasks 行の実体)
      properties:
        phase_id: { type: string, format: uuid }
        total: { type: integer }
        done: { type: integer }
        awaiting: { type: integer }
        avg_score: { type: number, nullable: true }

    WorkflowOutput:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        phase_id: { type: string, format: uuid, nullable: true }
        stage: { type: string }
        html_path: { type: string, nullable: true }
        json_path: { type: string, nullable: true }
        md_path: { type: string, nullable: true }
        summary: { type: string, nullable: true }
        version: { type: integer }
        # GAP-152: 帰属フェーズ (作成時の active フェーズ) — phase_id (工程) とは別
        delivery_phase_id: { type: string, format: uuid, nullable: true }
        # GAP-023: 改訂メタ (author=steve / revision_instruction / revised_from_version / model)
        meta: { type: object, additionalProperties: true }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    OutputSheet:
      type: object
      description: GAP-163 — Excel / CSV 成果物の表データ (値のみ。数式・書式は保持しない)
      properties:
        file_name: { type: string }
        mime: { type: string }
        editable: { type: boolean }
        note: { type: string }
        sheets:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              rows:
                type: array
                items:
                  type: array
                  items: { type: string }

    ShareLink:
      type: object
      description: GAP-162 — 成果物のクライアント共有リンク (期限つき・失効可)
      properties:
        id: { type: string, format: uuid }
        output_id: { type: string, format: uuid }
        label: { type: string }
        expires_at: { type: string, format: date-time }
        revoked_at: { type: string, format: date-time, nullable: true }
        view_count: { type: integer }
        last_viewed_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        share_url: { type: string, nullable: true, description: 発行直後のみ返る (ハッシュ保存のため再取得不可) }

    ReferenceFile:
      type: object
      description: GAP-161 — スタジオに渡す参考資料 (/reference-uploads で先にアップロード済のもの)
      required: [storage_path, file_name]
      properties:
        storage_path: { type: string }
        file_name: { type: string }
        mime_type: { type: string }

    OutputDesignTemplate:
      type: object
      description: GAP-158/159 — 出力デザインテンプレ (クライアント提出 HTML/PDF の見た目の型)。版連鎖。内容の構成はスキルが担う。source=platform は運営既定を継承中。
      properties:
        id: { type: string, format: uuid }
        workspace_id: { type: string, format: uuid, nullable: true, description: 運営既定 (source=platform) は null }
        stage: { type: string }
        stage_label: { type: string }
        version: { type: integer, minimum: 1 }
        note: { type: string }
        source: { type: string, enum: [workspace, platform], description: workspace=この WS の版 / platform=運営既定を継承中 }
        created_at: { type: string, format: date-time }

    VersionDiff:
      type: object
      description: バージョン間差分 (GAP-155 — サーバ側で実 HTML 2 版から difflib 計算。モック/成果物共通)
      properties:
        from_id: { type: string, format: uuid }
        from_version: { type: integer }
        to_id: { type: string, format: uuid }
        to_version: { type: integer }
        added: { type: integer, description: 追加行数 }
        removed: { type: integer, description: 削除行数 }
        identical: { type: boolean, description: 内容が同一 (diff 空) }
        diff: { type: string, description: unified diff 全文 }

    OutputAnchor:
      type: object
      description: 成果物 HTML 内の id 付き要素 (コメント対象位置の候補 — GAP-023)
      properties:
        element_id: { type: string }
        label: { type: string }

    OutputFixProposal:
      type: object
      description: コメントへの AI (スティーブ) 修正提案 (E output_fix_proposals — GAP-023)
      properties:
        id: { type: string, format: uuid }
        comment_id: { type: string, format: uuid }
        output_id: { type: string, format: uuid }
        proposal: { type: string }
        status: { type: string, enum: [pending, approved, rejected] }
        applied_output_id: { type: string, format: uuid, nullable: true }
        created_at: { type: string, format: date-time }
        resolved_at: { type: string, format: date-time, nullable: true }

    Decision:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        phase_id: { type: string, format: uuid, nullable: true }
        status: { type: string, enum: [decided, unresolved] }
        body: { type: string }
        reflected_to: { type: string, nullable: true }
        resolve_note: { type: string, nullable: true }
        decided_by: { type: string, format: uuid, nullable: true }
        with_user: { type: boolean }
        # GAP-003: ピン留め (一覧はピン留め先頭)
        pinned: { type: boolean }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    DecisionCreate:
      type: object
      required: [project_id, body]
      properties:
        project_id: { type: string, format: uuid }
        phase_id: { type: string, format: uuid, nullable: true }
        status: { type: string, enum: [decided, unresolved], default: decided }
        body: { type: string, minLength: 1, maxLength: 2000 }
        reflected_to: { type: string, nullable: true, maxLength: 500 }
        resolve_note: { type: string, nullable: true, maxLength: 500 }
        decided_by: { type: string, format: uuid, nullable: true }
        with_user: { type: boolean, default: false }

    DecisionUpdate:
      type: object
      properties:
        status: { type: string, enum: [decided, unresolved] }
        body: { type: string, minLength: 1, maxLength: 2000 }
        reflected_to: { type: string, nullable: true, maxLength: 500 }
        resolve_note: { type: string, nullable: true, maxLength: 500 }
        # GAP-003: ピン留め切替
        pinned: { type: boolean }

    Comment:
      type: object
      properties:
        id: { type: string, format: uuid }
        target_type: { type: string, enum: [workflow_output, mock, task, acceptance_criteria] }
        target_id: { type: string, format: uuid }
        target_element_id: { type: string, nullable: true }
        author_user_id: { type: string, format: uuid, nullable: true }
        author_invitation_id: { type: string, format: uuid, nullable: true }
        content: { type: string }
        status: { type: string, enum: [open, resolved, deleted] }
        parent_comment_id: { type: string, format: uuid, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CronSchedule:
      type: object
      description: cron スケジュール (T-A-40)。project-scoped。Inngest 連動は別途。
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        name: { type: string }
        cron_expression: { type: string }
        target_action: { type: string, enum: [task_replay, knowledge_organize, industry_extract, report_summary, daily_digest, weekly_burndown] }
        target_payload: { type: object }
        enabled: { type: boolean }
        next_run_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    LegalDocument:
      type: object
      properties:
        id: { type: string, format: uuid }
        doc_type: { type: string, enum: [terms_of_service, privacy_policy, tokushoho] }
        version: { type: string }
        locale: { type: string }
        title: { type: string }
        body_md: { type: string }
        effective_date: { type: string, format: date }
        is_current: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    DataDeletionRequestResponse:
      type: object
      properties:
        request_id: { type: string, format: uuid }
        status: { type: string }
        requested_at: { type: string, format: date-time }

    ImpactAnalysisResponse:
      type: object
      properties:
        root_task_id: { type: string, format: uuid }
        affected_task_ids: { type: array, items: { type: string, format: uuid } }
        affected_count: { type: integer }

    PlayTaskRequest:
      type: object
      properties:
        force: { type: boolean, default: false }

    PlayTaskResponse:
      type: object
      properties:
        task_id: { type: string, format: uuid }
        lifecycle_stage: { type: string }
        dispatch_status: { type: string }
        execution_id: { type: string, format: uuid }
        worktree_path: { type: string }
        bridge_command: { type: string }
        queue_position: { type: integer, description: "並列上限超過時のキュー位置" }

    TaskBulkLifecycleRequest:
      type: object
      required: [task_ids, target_stage]
      properties:
        task_ids:
          type: array
          minItems: 1
          maxItems: 200
          items: { type: string, format: uuid }
        target_stage:
          type: string
          enum: [triage, ready, in_progress, blocked, awaiting, done]
        note: { type: string, maxLength: 2000, nullable: true }

    TaskBulkLifecycleResponse:
      type: object
      required: [requested, updated, updated_task_ids, skipped_task_ids]
      properties:
        requested: { type: integer, minimum: 0 }
        updated: { type: integer, minimum: 0 }
        updated_task_ids:
          type: array
          items: { type: string, format: uuid }
        skipped_task_ids:
          type: array
          items: { type: string, format: uuid }

    TaskDecisionRequest:
      type: object
      properties:
        note: { type: string, maxLength: 2000, nullable: true }

    SalesDocCreate:
      type: object
      required: [project_id, doc_type]
      properties:
        project_id: { type: string, format: uuid }
        doc_type: { type: string, enum: [proposal, estimate, contract, nda, invoice] }
        summary: { type: string, maxLength: 4000, nullable: true }
        html_path: { type: string, maxLength: 500, nullable: true }
        json_path: { type: string, maxLength: 500, nullable: true }
        md_path: { type: string, maxLength: 500, nullable: true }

    SalesDocUpdate:
      type: object
      properties:
        summary: { type: string, maxLength: 4000, nullable: true }
        html_path: { type: string, maxLength: 500, nullable: true }
        json_path: { type: string, maxLength: 500, nullable: true }
        md_path: { type: string, maxLength: 500, nullable: true }

    SalesDoc:
      type: object
      required: [id, project_id, doc_type, version, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        phase_id: { type: string, format: uuid, nullable: true }
        doc_type: { type: string, enum: [proposal, estimate, contract, nda, invoice] }
        html_path: { type: string, nullable: true }
        json_path: { type: string, nullable: true }
        md_path: { type: string, nullable: true }
        summary: { type: string, nullable: true }
        version: { type: integer, minimum: 1 }
        # GAP-018: 生成トレース (generated_by=tony / model / inputs / knowledge_refs / steps)
        meta: { type: object, additionalProperties: true }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    SalesDocSend:
      type: object
      description: ドラフトのメール送信履歴 1 件 (E sales_doc_sends — GAP-018)
      properties:
        id: { type: string, format: uuid }
        doc_id: { type: string, format: uuid }
        to_email: { type: string }
        subject: { type: string }
        dry_run: { type: boolean, description: "メール未設定環境での送信は true (偽装しない)" }
        created_at: { type: string, format: date-time }

    MeetingCreate:
      type: object
      required: [project_id, type, storage_path, file_name, file_size_bytes, mime_type]
      properties:
        project_id: { type: string, format: uuid }
        type: { type: string, enum: [audio, video, document] }
        storage_path: { type: string, minLength: 1, maxLength: 500 }
        file_name: { type: string, minLength: 1, maxLength: 255 }
        file_size_bytes: { type: integer, minimum: 0 }
        mime_type: { type: string, minLength: 1, maxLength: 200 }

    Meeting:
      type: object
      required:
        - id
        - project_id
        - uploaded_by_user_id
        - type
        - storage_path
        - file_name
        - file_size_bytes
        - mime_type
        - created_at
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        uploaded_by_user_id: { type: string, format: uuid }
        type: { type: string, enum: [audio, video, document] }
        storage_path: { type: string }
        file_name: { type: string }
        file_size_bytes: { type: integer }
        mime_type: { type: string }
        parsed_at: { type: string, format: date-time, nullable: true }
        parse_result_path: { type: string, nullable: true }
        parse_error: { type: string, nullable: true }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    MeetingTranscribeRequest:
      type: object
      properties:
        force: { type: boolean, default: false }

    MeetingTranscribeResponse:
      type: object
      required: [id, status, queued_at]
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [queued, already_parsed] }
        queued_at: { type: string, format: date-time }

    MeetingUploadUrlRequest:
      type: object
      required: [project_id, file_name, mime_type]
      properties:
        project_id: { type: string, format: uuid }
        file_name: { type: string, minLength: 1, maxLength: 255 }
        mime_type: { type: string, minLength: 1, maxLength: 200 }

    MeetingUploadUrlResponse:
      type: object
      required: [upload_url, storage_path, bucket]
      properties:
        upload_url: { type: string }
        storage_path: { type: string }
        bucket: { type: string }

    KnowledgeCreate:
      type: object
      required: [account_id, account_type, scope, category, title, content_md]
      properties:
        account_id: { type: string, format: uuid }
        account_type: { type: string, enum: [workspace, user, platform] }
        scope: { type: string, enum: [common, employee_specific, project] }
        visible_in_tree: { type: boolean, default: true, description: false=ツリー非表示・RAG参照のみ（運営デフォルト用） }
        category: { type: string, minLength: 1, maxLength: 100 }
        title: { type: string, minLength: 1, maxLength: 200 }
        content_md: { type: string, minLength: 1 }
        tags: { type: array, items: { type: string }, maxItems: 50 }
        owner_employee_id: { type: string, format: uuid, nullable: true }
        parent_id: { type: string, format: uuid, nullable: true, description: 構造ツリーの親ノード。null=ルート }
        source_type: { type: string, enum: [manual, ai_extracted, import, mem0], default: manual }
        source_project_id: { type: string, format: uuid, nullable: true, description: scope=project の束縛先プロジェクト }
        confidence_score: { type: number, minimum: 0, maximum: 1, default: 0.5 }
        is_anonymized: { type: boolean, default: false }

    KnowledgeUpdate:
      type: object
      properties:
        title: { type: string, minLength: 1, maxLength: 200, nullable: true }
        content_md: { type: string, minLength: 1, nullable: true }
        category: { type: string, minLength: 1, maxLength: 100, nullable: true }
        tags: { type: array, items: { type: string }, maxItems: 50, nullable: true }
        confidence_score: { type: number, minimum: 0, maximum: 1, nullable: true }
        is_anonymized: { type: boolean, nullable: true }
        parent_id: { type: string, format: uuid, nullable: true, description: '構造ツリーの親ノード（null=ルート）' }
        visible_in_tree: { type: boolean, nullable: true, description: 'ナレッジツリー表示フラグ（運営デフォルトは false で非表示）' }

    CurationRunStats:
      type: object
      description: GAP-153 — キュレーションバッチ 1 回分の実測
      properties:
        scanned: { type: integer }
        proposed: { type: integer }
        skipped_not_useful: { type: integer }
        rejected_security: { type: integer }

    KnowledgeCuration:
      type: object
      description: GAP-153 — 運営 AI による匿名化キュレーション提案 (運営 admin 専用・テナント不可視)
      properties:
        id: { type: string, format: uuid }
        source_node_id: { type: string, format: uuid }
        source_account_type: { type: string }
        source_title: { type: string, nullable: true }
        source_workspace_name: { type: string, nullable: true }
        proposed_title: { type: string }
        proposed_content_md: { type: string }
        proposed_category: { type: string }
        proposed_tags: { type: array, items: { type: string } }
        reason: { type: string }
        security_notes: { type: string, nullable: true }
        status: { type: string, enum: [pending, approved, rejected, rejected_security, skipped] }
        model: { type: string, nullable: true }
        published_node_id: { type: string, format: uuid, nullable: true }
        reviewed_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    AdminKnowledgeCreate:
      type: object
      description: 運営デフォルト(platform)ナレッジ作成（T-A-50 / F-023）。account_type/account_id は server 側で固定。
      required: [category, title, content_md]
      properties:
        category: { type: string, minLength: 1, maxLength: 100 }
        title: { type: string, minLength: 1, maxLength: 200 }
        content_md: { type: string, minLength: 1 }
        tags: { type: array, items: { type: string }, maxItems: 50 }
        parent_id: { type: string, format: uuid, nullable: true }
        visible_in_tree: { type: boolean, default: false, description: '運営デフォルトは既定でツリー非表示（RAG 横断参照のみ）' }
        confidence_score: { type: number, minimum: 0, maximum: 1, default: 0.5 }

    Knowledge:
      type: object
      required:
        - id
        - account_id
        - account_type
        - scope
        - category
        - title
        - content_md
        - tags
        - source_type
        - confidence_score
        - usage_count
        - is_anonymized
        - created_at
        - updated_at
      properties:
        id: { type: string, format: uuid }
        account_id: { type: string, format: uuid }
        account_type: { type: string, enum: [workspace, user, platform] }
        scope: { type: string, enum: [common, employee_specific, project] }
        owner_employee_id: { type: string, format: uuid, nullable: true }
        parent_id: { type: string, format: uuid, nullable: true, description: 構造ツリーの親ノード。null=ルート }
        visible_in_tree: { type: boolean, description: false=ツリー非表示・RAG参照のみ（運営デフォルト用） }
        category: { type: string }
        title: { type: string }
        content_md: { type: string }
        tags: { type: array, items: { type: string } }
        source_type: { type: string }
        source_project_id: { type: string, format: uuid, nullable: true }
        confidence_score: { type: number }
        usage_count: { type: integer }
        is_anonymized: { type: boolean }
        approved_by_user_id: { type: string, format: uuid, nullable: true }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    KnowledgeSearchRequest:
      type: object
      required: [query]
      properties:
        query: { type: string, minLength: 1 }
        limit: { type: integer, minimum: 1, maximum: 50, default: 10 }
        account_id: { type: string, format: uuid, nullable: true }
        # GAP-017: 指定時はプロジェクトの跨ぎナレッジ参照設定を適用
        project_id: { type: string, format: uuid, nullable: true }

    KnowledgeSearchHit:
      type: object
      required: [knowledge, score]
      properties:
        knowledge: { $ref: '#/components/schemas/Knowledge' }
        score: { type: number, description: "cosine similarity (0..1)" }

    KnowledgeSearchResponse:
      type: object
      required: [query, hits, total]
      properties:
        query: { type: string }
        hits: { type: array, items: { $ref: '#/components/schemas/KnowledgeSearchHit' } }
        total: { type: integer }
        search_mode:
          type: string
          default: text_fallback
          description: "GAP-133: 検索モードの誠実表示。semantic:voyage-3-large / semantic:local:<model> / text_fallback (意味検索が効いていない状態を UI に隠さない)"

    KnowledgePromoteRequest:
      type: object
      required: [target_workspace_id]
      properties:
        target_workspace_id: { type: string, format: uuid }
        confidence_score: { type: number, minimum: 0, maximum: 1, nullable: true }

    KnowledgePatternRequest:
      type: object
      properties:
        account_id: { type: string, format: uuid, nullable: true }
        category: { type: string, nullable: true }
        min_occurrences: { type: integer, minimum: 2, maximum: 100, default: 2 }
        limit: { type: integer, minimum: 1, maximum: 200, default: 20 }

    KnowledgePattern:
      type: object
      required: [pattern_tags, occurrence_count, representative_ids, avg_confidence]
      properties:
        pattern_tags:
          type: array
          items: { type: string }
        occurrence_count: { type: integer, minimum: 2 }
        representative_ids:
          type: array
          items: { type: string, format: uuid }
        avg_confidence: { type: number, minimum: 0, maximum: 1 }

    KnowledgePatternResponse:
      type: object
      required: [total, patterns]
      properties:
        total: { type: integer, minimum: 0 }
        patterns: { type: array, items: { $ref: '#/components/schemas/KnowledgePattern' } }

    KnowledgeGraphNode:
      type: object
      description: "グラフの 1 ノード (GAP-010 — 描画用軽量フィールド)"
      required: [id, title, category, scope, tags, usage_count]
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        category: { type: string }
        scope: { type: string, enum: [common, employee_specific, project] }
        tags: { type: array, items: { type: string } }
        usage_count: { type: integer, minimum: 0 }

    KnowledgeGraphEdge:
      type: object
      description: "ナレッジ間の実リンク (parent=階層 / tag=タグ共起。推測エッジなし)"
      required: [source, target, kind]
      properties:
        source: { type: string, format: uuid }
        target: { type: string, format: uuid }
        kind: { type: string, enum: [parent, tag] }
        tag: { type: string, nullable: true }

    KnowledgeGraphResponse:
      type: object
      required: [nodes, edges, total_nodes, truncated]
      properties:
        nodes: { type: array, items: { $ref: '#/components/schemas/KnowledgeGraphNode' } }
        edges: { type: array, items: { $ref: '#/components/schemas/KnowledgeGraphEdge' } }
        total_nodes: { type: integer, minimum: 0 }
        truncated: { type: boolean, description: 参照回数上位 120 件に切詰めたか }

    KnowledgeReferenceItem:
      type: object
      description: "ナレッジを参照した実体 (バックリンク 1 行 — GAP-012)"
      required: [id, referrer_type, referrer_id, referrer_title, context, reference_count, last_referenced_at]
      properties:
        id: { type: string, format: uuid }
        referrer_type: { type: string, enum: [chat_thread, task, decision, feature] }
        referrer_id: { type: string, format: uuid }
        referrer_title: { type: string, description: "参照元の表示名 (実テーブルから解決)" }
        context: { type: string, description: "参照の文脈 (例: チャット応答で参照（RAG）)" }
        reference_count: { type: integer, minimum: 1 }
        last_referenced_at: { type: string, format: date-time }

    KnowledgeReferencesResponse:
      type: object
      required: [knowledge_id, references, total]
      properties:
        knowledge_id: { type: string, format: uuid }
        references: { type: array, items: { $ref: '#/components/schemas/KnowledgeReferenceItem' } }
        total: { type: integer, minimum: 0 }

    Execution:
      type: object
      required:
        - id
        - task_id
        - task_title
        - project_id
        - started_at
        - status
        - retry_count
        - created_at
      properties:
        id: { type: string, format: uuid }
        task_id: { type: string, format: uuid }
        task_title: { type: string }
        project_id: { type: string, format: uuid }
        started_at: { type: string, format: date-time }
        completed_at: { type: string, format: date-time, nullable: true }
        duration_seconds: { type: number, nullable: true }
        status: { type: string, enum: [running, succeeded, failed, cancelled, timeout] }
        score: { type: number, nullable: true }
        ac_pass_rate: { type: number, nullable: true }
        test_pass_rate: { type: number, nullable: true }
        verification_score: { type: number, nullable: true }
        retry_count: { type: integer }
        claude_code_session_id: { type: string, nullable: true }
        logs_storage_path: { type: string, nullable: true }
        error_summary: { type: string, nullable: true }
        worker_pid: { type: integer, nullable: true }
        dispatch_status: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    BridgeStatus:
      type: object
      required:
        - running_count
        - queued_count
        - completing_count
        - spawning_count
        - dead_count_24h
        - parallel_limit
        - available_slots
        - active_worker_pids
        - evaluated_at
      properties:
        running_count: { type: integer, minimum: 0 }
        queued_count: { type: integer, minimum: 0 }
        completing_count: { type: integer, minimum: 0 }
        spawning_count: { type: integer, minimum: 0 }
        dead_count_24h: { type: integer, minimum: 0 }
        parallel_limit: { type: integer, minimum: 1 }
        available_slots: { type: integer, minimum: 0 }
        oldest_running_started_at: { type: string, format: date-time, nullable: true }
        active_worker_pids:
          type: array
          items: { type: integer }
        evaluated_at: { type: string, format: date-time }
        paused: { type: boolean, default: false, description: "GAP-026②: すべて一時停止中 (pick が止まる)" }
        workers:
          type: array
          items: { $ref: '#/components/schemas/BridgeWorkerInfo' }
          description: "GAP-026①: 直近 5 分に ping した Bridge worker"

    BridgeWorkerInfo:
      type: object
      required: [id, host_label, version, last_seen_at, connected]
      properties:
        id: { type: string }
        host_label: { type: string }
        version: { type: string }
        worker_pid: { type: integer, nullable: true }
        last_seen_at: { type: string, format: date-time }
        connected: { type: boolean, description: "last_seen_at が 90 秒以内" }

    BridgePingRequest:
      type: object
      required: [worker_id, host_label, version]
      properties:
        worker_id: { type: string, minLength: 1, maxLength: 200 }
        host_label: { type: string, minLength: 1, maxLength: 200 }
        version: { type: string, minLength: 1, maxLength: 50 }
        worker_pid: { type: integer, nullable: true }

    DispatchControl:
      type: object
      required: [paused]
      properties:
        paused: { type: boolean }
        paused_at: { type: string, format: date-time, nullable: true }
        paused_by: { type: string, format: uuid, nullable: true }

    DispatchPromoteResponse:
      type: object
      required: [task_id, title, note]
      properties:
        task_id: { type: string, format: uuid }
        title: { type: string }
        note: { type: string }

    ExecutionEvent:
      type: object
      required: [at, kind, execution_id, task_id, task_title]
      properties:
        at: { type: string, format: date-time }
        kind: { type: string, description: "started / succeeded / failed / cancelled / timeout" }
        execution_id: { type: string, format: uuid }
        task_id: { type: string, format: uuid }
        task_title: { type: string }
        score: { type: number, nullable: true }
        error_summary: { type: string, nullable: true }

    ExecLogMeta:
      type: object
      required: [execution_id, task_id, status, started_at, retry_count]
      properties:
        execution_id: { type: string, format: uuid }
        task_id: { type: string, format: uuid }
        status: { type: string, enum: [running, succeeded, failed, cancelled, timeout] }
        started_at: { type: string, format: date-time }
        completed_at: { type: string, format: date-time, nullable: true }
        logs_storage_path: { type: string, nullable: true }
        error_summary: { type: string, nullable: true }
        retry_count: { type: integer, minimum: 0 }

    ExecLogEvent:
      type: object
      required: [type, execution_id, timestamp]
      properties:
        type: { type: string, enum: [snapshot, status_change, end, error] }
        execution_id: { type: string, format: uuid }
        status: { type: string, nullable: true }
        completed_at: { type: string, format: date-time, nullable: true }
        error_summary: { type: string, nullable: true }
        logs_storage_path: { type: string, nullable: true }
        timestamp: { type: string, format: date-time }

    ConsentEntry:
      type: object
      required: [type, version, accepted]
      properties:
        type:
          type: string
          enum: [terms_of_service, privacy_policy, data_residency, ai_training_optin]
        version: { type: string, minLength: 1, maxLength: 50 }
        accepted: { type: boolean }

    SignupRequest:
      type: object
      required: [email, password, display_name, consents]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 8, maxLength: 128 }
        display_name: { type: string, minLength: 1, maxLength: 100 }
        consents:
          type: array
          minItems: 2
          maxItems: 4
          items: { $ref: '#/components/schemas/ConsentEntry' }

    SignupResponse:
      type: object
      required: [user_id, email, display_name, consents_recorded, created_at]
      properties:
        user_id: { type: string, format: uuid }
        email: { type: string, format: email }
        display_name: { type: string }
        consents_recorded: { type: integer, minimum: 2, maximum: 4 }
        created_at: { type: string, format: date-time }

    ChatStreamRequest:
      type: object
      required: [user_message]
      properties:
        user_message: { type: string, minLength: 1, maxLength: 20000 }
        use_knowledge_rag: { type: boolean, default: true }
        include_history: { type: integer, minimum: 0, maximum: 50, default: 10 }
        rag_account_id: { type: string, format: uuid, nullable: true }
        attachments:
          type: array
          maxItems: 10
          items: { $ref: '#/components/schemas/ChatAttachment' }
          description: "事前 upload-url → PUT 済の添付メタ (GAP-001 — user message に永続)"
        tools_mode:
          type: string
          enum: [off, approve, auto]
          default: off
          description: "GAP-129/130: PC 操作。off=ツールなし (既定) / approve=実行ごとにユーザー承認 (Claude Code の permission prompt 同等) / auto=確認なしで自動実行 (いずれも agent_sdk モード限定・本人 opt-in)"

    PcApprovalDecisionRequest:
      type: object
      required: [decision]
      properties:
        decision:
          type: string
          enum: [allow, deny]
          description: "GAP-130: 承認カードへの決定。allow=実行を許可 / deny=拒否 (AI は拒否を踏まえて応答継続)"

    PcApprovalDecisionResponse:
      type: object
      required: [resolved]
      properties:
        resolved: { type: boolean }

    ChatContextPreviewRequest:
      type: object
      required: [user_message]
      properties:
        user_message: { type: string, minLength: 1, maxLength: 20000 }
        include_history: { type: integer, minimum: 0, maximum: 50, default: 10 }
        rag_account_id: { type: string, format: uuid, nullable: true }

    ChatContextPreviewResponse:
      type: object
      required: [system_prompt, history_count, rag_hit_ids]
      properties:
        system_prompt: { type: string }
        history_count: { type: integer, minimum: 0 }
        rag_hit_ids:
          type: array
          items: { type: string, format: uuid }

    CircuitBreakerState:
      type: object
      required: [state, failure_rate, total_executions, failed_executions, window_minutes, threshold, evaluated_at]
      properties:
        state: { type: string, enum: [closed, open, half_open] }
        failure_rate: { type: number, minimum: 0, maximum: 1 }
        total_executions: { type: integer, minimum: 0 }
        failed_executions: { type: integer, minimum: 0 }
        window_minutes: { type: integer, minimum: 1, maximum: 60 }
        threshold: { type: number, minimum: 0, maximum: 1 }
        next_retry_at: { type: string, format: date-time, nullable: true }
        evaluated_at: { type: string, format: date-time }

    CircuitResetRequest:
      type: object
      required: [reason]
      properties:
        reason: { type: string, minLength: 1, maxLength: 2000 }

    PidPollRequest:
      type: object
      properties:
        heartbeat_threshold_seconds: { type: integer, minimum: 10, maximum: 600, default: 60 }
        dry_run: { type: boolean, default: false }

    PidPollResult:
      type: object
      required: [task_id, action]
      properties:
        task_id: { type: string, format: uuid }
        worker_pid: { type: integer, nullable: true }
        last_heartbeat_at: { type: string, format: date-time, nullable: true }
        action: { type: string, enum: [reclaimed, dry_run_would_reclaim] }

    PidPollResponse:
      type: object
      required: [polled_at, threshold_seconds, stale_task_count, results]
      properties:
        polled_at: { type: string, format: date-time }
        threshold_seconds: { type: integer }
        stale_task_count: { type: integer, minimum: 0 }
        results: { type: array, items: { $ref: '#/components/schemas/PidPollResult' } }

    # ========================================================================
    # Hermes 互換
    # ========================================================================
    KanbanCompleteRequest:
      type: object
      required: [task_id, summary, metadata]
      properties:
        task_id: { type: string, format: uuid }
        summary: { type: string }
        metadata:
          type: object
          required: [score, ac_pass_rate, test_pass_rate, verification_score, retry_count]
          properties:
            score: { type: number, minimum: 0, maximum: 1 }
            ac_pass_rate: { type: number }
            test_pass_rate: { type: number }
            verification_score: { type: number }
            files_changed: { type: array, items: { type: string } }
            retry_count: { type: integer }

    KanbanCompleteMetadata:
      type: object
      required: [score, ac_pass_rate, test_pass_rate, verification_score]
      properties:
        score: { type: number, minimum: 0, maximum: 1 }
        ac_pass_rate: { type: number, minimum: 0, maximum: 1 }
        test_pass_rate: { type: number, minimum: 0, maximum: 1 }
        verification_score: { type: number, minimum: 0, maximum: 1 }
        retry_count: { type: integer, minimum: 0, maximum: 3, default: 0 }
        files_changed:
          type: array
          items: { type: string }
          maxItems: 500
        tests:
          type: array
          maxItems: 200
          items: { $ref: '#/components/schemas/ExecutionTestResultIn' }
          description: "GAP-025②: テストケース単位の結果 (task_execution_tests へ永続)"

    ExecutionTestResultIn:
      type: object
      required: [name, status]
      properties:
        name: { type: string, minLength: 1, maxLength: 300 }
        file: { type: string, nullable: true, maxLength: 300 }
        status: { type: string, enum: [pass, fail, skip] }
        duration_ms: { type: integer, minimum: 0, nullable: true }
        detail: { type: string, nullable: true, maxLength: 2000 }

    ExecutionTestResult:
      type: object
      required: [id, execution_id, name, status, created_at]
      properties:
        id: { type: string, format: uuid }
        execution_id: { type: string, format: uuid }
        name: { type: string }
        file: { type: string, nullable: true }
        status: { type: string, enum: [pass, fail, skip] }
        duration_ms: { type: integer, nullable: true }
        detail: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    SpecChange:
      type: object
      required: [kind, mock_id, screen_name, current_version, latest_version, latest_mock_id, detected_at]
      properties:
        kind: { type: string, enum: [mock_updated] }
        mock_id: { type: string, format: uuid }
        screen_name: { type: string }
        current_version: { type: integer }
        latest_version: { type: integer }
        latest_mock_id: { type: string, format: uuid }
        detected_at: { type: string, format: date-time }

    SpecChangeResolveRequest:
      type: object
      required: [choice, latest_mock_id]
      properties:
        choice: { type: string, enum: [adopt, split, discard], description: "adopt=最新仕様で実装し直す / split=現状で完了 (別タスク起票) / discard=破棄して再分解待ち" }
        latest_mock_id: { type: string, format: uuid }

    SpecChangeResolveResponse:
      type: object
      required: [choice, note]
      properties:
        choice: { type: string }
        note: { type: string }
        follow_up_task_id: { type: string, format: uuid, nullable: true }

    RelatedResource:
      type: object
      required: [kind, name, meta]
      properties:
        kind: { type: string, enum: [mock, spec, acceptance_criteria, branch, knowledge] }
        name: { type: string }
        meta: { type: string }
        href: { type: string, nullable: true }

    KanbanCompleteRequestV2:
      type: object
      required: [task_id, execution_id, summary, metadata]
      properties:
        task_id: { type: string, format: uuid }
        execution_id: { type: string, format: uuid }
        summary: { type: string, minLength: 1, maxLength: 4000 }
        metadata: { $ref: '#/components/schemas/KanbanCompleteMetadata' }
        auto_approve: { type: boolean, default: false }

    ChatRelayPickRequest:
      type: object
      required: [worker_id]
      properties:
        worker_id: { type: string, minLength: 1, maxLength: 200 }

    ChatRelayPickResponse:
      type: object
      required: [no_available_job]
      properties:
        job_id: { type: string, format: uuid, nullable: true }
        system_prompt: { type: string, nullable: true }
        prompt: { type: string, nullable: true }
        tools_mode:
          type: string
          enum: [off, approve, auto]
          nullable: true
          description: "GAP-134: PC 操作モード — Bridge が本人 PC で実行する"
        no_available_job: { type: boolean }

    ChatRelayChunksRequest:
      type: object
      required: [seq_start, texts]
      properties:
        seq_start: { type: integer, minimum: 0 }
        texts:
          type: array
          minItems: 1
          maxItems: 200
          items: { type: string }
        kinds:
          type: array
          maxItems: 200
          nullable: true
          items: { type: string, enum: [delta, tool] }
          description: "GAP-134: texts と同長の種別 (delta=本文 / tool=実況)。省略時は全て delta"

    ChatRelayApprovalCreateRequest:
      type: object
      required: [tool]
      description: "GAP-134: Bridge が CLI の許可要求を承認キューへ積む"
      properties:
        tool: { type: string, minLength: 1, maxLength: 60 }
        summary: { type: string, maxLength: 500 }

    ChatRelayApprovalCreateResponse:
      type: object
      required: [approval_id]
      properties:
        approval_id: { type: string, format: uuid }

    ChatRelayApprovalStatusResponse:
      type: object
      required: [decision]
      properties:
        decision: { type: string, enum: [pending, allow, deny, timeout] }

    BridgeTokenCreate:
      type: object
      description: GAP-122 — Bridge 接続トークン発行リクエスト
      properties:
        label: { type: string, maxLength: 100, nullable: true }

    BridgeTokenCreated:
      type: object
      description: GAP-122 — 発行応答 (raw token はこの応答で 1 度だけ)
      required: [id, token, label, created_at]
      properties:
        id: { type: string, format: uuid }
        token: { type: string }
        label: { type: string }
        created_at: { type: string, format: date-time }

    BridgeTokenRow:
      type: object
      description: GAP-122 — トークン一覧行 (raw/hash なし)
      required: [id, label, created_at]
      properties:
        id: { type: string, format: uuid }
        label: { type: string }
        created_at: { type: string, format: date-time }
        last_used_at: { type: string, format: date-time, nullable: true }
        revoked_at: { type: string, format: date-time, nullable: true }

    ChatRelayRateLimitObservation:
      type: object
      description: GAP-119 — claude CLI の rate_limit_event 観測値 1 件（実値のみ転送）
      required: [status]
      properties:
        status: { type: string, enum: [allowed, allowed_warning, rejected] }
        rate_limit_type: { type: string, maxLength: 40, nullable: true }
        utilization: { type: number, minimum: 0, maximum: 2, nullable: true }
        resets_at: { type: number, nullable: true }

    ChatRelayCompleteRequest:
      type: object
      required: [ok]
      properties:
        ok: { type: boolean }
        error: { type: string, maxLength: 2000, nullable: true }
        rate_limits:
          type: array
          maxItems: 20
          nullable: true
          items: { $ref: '#/components/schemas/ChatRelayRateLimitObservation' }

    ChatRelayArtifactItem:
      type: object
      description: GAP-137/145 — PC 操作で生まれた成果物 1 件 (HTML は html / バイナリは content_b64 のどちらか一方。MIME はサーバが拡張子から導出)
      required: [file_name]
      properties:
        file_name: { type: string, minLength: 1, maxLength: 200 }
        html: { type: string, minLength: 1, maxLength: 524288, nullable: true }
        content_b64: { type: string, minLength: 1, maxLength: 11534336, nullable: true }

    ChatRelayArtifactsRequest:
      type: object
      required: [artifacts]
      properties:
        artifacts:
          type: array
          minItems: 1
          maxItems: 10
          items: { $ref: '#/components/schemas/ChatRelayArtifactItem' }

    ChatRelayArtifactResult:
      type: object
      description: GAP-137/139/145 — 取り込み結果 (type=mock は mocks 行 / type=output は workflow_outputs 行 — 見積・提案書等 / type=file はバイナリ成果物 — 画像・PPTX・PDF・Excel・動画 等)
      required: [type, version]
      properties:
        type: { type: string, enum: [mock, output, file], default: mock }
        version: { type: integer }
        mock_id: { type: string, format: uuid, nullable: true }
        screen_name: { type: string, nullable: true }
        output_id: { type: string, format: uuid, nullable: true }
        stage: { type: string, nullable: true }
        title: { type: string, nullable: true }
        file_kind: { type: string, nullable: true }

    ChatConnectionWorker:
      type: object
      description: GAP-119 — presence 鮮度内（90 秒）の Bridge worker 1 台
      required: [host_label, version, last_seen_at]
      properties:
        host_label: { type: string }
        version: { type: string }
        last_seen_at: { type: string, format: date-time }

    ChatConnectionLastJob:
      type: object
      description: GAP-119 — 本人の直近 relay 実行（chat_relay_jobs、RLS で本人のみ）
      required: [status, created_at]
      properties:
        status: { type: string }
        error: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        finished_at: { type: string, format: date-time, nullable: true }

    ChatConnectionPlan:
      type: object
      description: >-
        GAP-119 — 本人 Claude プラン枠の直近観測値（claude CLI rate_limit_event の実値のみ。
        未観測の window は null — 推測で埋めない）
      required: [status, observed_at]
      properties:
        status: { type: string, enum: [allowed, allowed_warning, rejected] }
        five_hour_utilization: { type: number, nullable: true }
        five_hour_resets_at: { type: string, format: date-time, nullable: true }
        seven_day_utilization: { type: number, nullable: true }
        seven_day_resets_at: { type: string, format: date-time, nullable: true }
        observed_at: { type: string, format: date-time }

    ChatConnectionStatusResponse:
      type: object
      description: GAP-119 — S-E01 接続状態パネル（実測値のみで構成）
      required: [mode, bridge_online, workers]
      properties:
        mode: { type: string, enum: [relay, agent_sdk, api, fake, unconfigured] }
        bridge_online: { type: boolean }
        workers:
          type: array
          items: { $ref: '#/components/schemas/ChatConnectionWorker' }
        last_job:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/ChatConnectionLastJob'
        plan:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/ChatConnectionPlan'

    KanbanPickRequest:
      type: object
      required: [worker_pid]
      properties:
        worker_pid: { type: integer, minimum: 1 }
        project_id: { type: string, format: uuid, nullable: true }

    KanbanPickResponse:
      type: object
      required: [no_available_task]
      properties:
        task_id: { type: string, format: uuid, nullable: true }
        execution_id: { type: string, format: uuid, nullable: true }
        worktree_path: { type: string, nullable: true }
        no_available_task: { type: boolean }
        # GAP-030: Bridge 子プロセスへのプロンプト材料 (タスク内容)
        task_title: { type: string, nullable: true }
        task_description: { type: string, nullable: true }
        assigned_employee: { type: string, nullable: true }

    KanbanStartRequest:
      type: object
      required: [task_id, execution_id, worker_pid]
      properties:
        task_id: { type: string, format: uuid }
        execution_id: { type: string, format: uuid }
        worker_pid: { type: integer, minimum: 1 }
        claude_code_session_id: { type: string, maxLength: 200, nullable: true }

    KanbanRequestReviewRequest:
      type: object
      required: [task_id, execution_id]
      properties:
        task_id: { type: string, format: uuid }
        execution_id: { type: string, format: uuid }
        note: { type: string, maxLength: 2000, nullable: true }

    KanbanRequestChangeRequest:
      type: object
      required: [task_id, execution_id, reason]
      properties:
        task_id: { type: string, format: uuid }
        execution_id: { type: string, format: uuid }
        reason: { type: string, minLength: 1, maxLength: 2000 }

    KanbanHeartbeatRequest:
      type: object
      required: [task_id, worker_pid]
      properties:
        task_id: { type: string, format: uuid }
        worker_pid: { type: integer, minimum: 1 }

    KanbanKillRequest:
      type: object
      required: [task_id, reason]
      properties:
        task_id: { type: string, format: uuid }
        execution_id: { type: string, format: uuid, nullable: true }
        reason: { type: string, minLength: 1, maxLength: 2000 }

    KanbanResponse:
      type: object
      required: [task_id, lifecycle_stage, action]
      properties:
        task_id: { type: string, format: uuid }
        lifecycle_stage: { type: string }
        dispatch_status: { type: string, nullable: true }
        execution_status: { type: string, nullable: true }
        action:
          type: string
          enum: [picked, started, completed, review_requested, change_requested, heartbeat_ack, killed]

    # ========================================================================
    # MCP トークン管理 (T-A-08)
    # ========================================================================
    McpToken:
      type: object
      properties:
        id: { type: string, format: uuid }
        workspace_id: { type: string, format: uuid }
        name: { type: string }
        scopes: { type: array, items: { type: string } }
        expires_at: { type: string, format: date-time, nullable: true }
        revoked_at: { type: string, format: date-time, nullable: true }
        last_used_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    McpTokenCreateResponse:
      allOf:
        - $ref: '#/components/schemas/McpToken'
        - type: object
          required: [token]
          properties:
            token:
              type: string
              description: "plaintext token (作成直後の 1 度のみ返す。以降は再表示不可)"

    # ========================================================================
    # BYOK API キー (T-A-09)
    # ========================================================================
    ByokKey:
      type: object
      description: BYOK (Bring Your Own Key) API キー。plaintext / encrypted_key は応答に含めない。
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        provider: { type: string, enum: [claude, openai, gemini] }
        label: { type: string, nullable: true }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    # ========================================================================
    # 承認待ち
    # ========================================================================
    ApprovalInboxEntry:
      type: object
      description: 承認待ちインボックスエントリ (E-? approval_inbox)。本人のみ可視 (RLS user_id=auth.uid())。
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        type:
          type: string
          enum: [task_approval, phase_approval, knowledge_write, comment_response, scope_change]
        target_type: { type: string }
        target_id: { type: string, format: uuid }
        title: { type: string }
        payload: { type: object }
        status: { type: string, enum: [pending, approved, rejected] }
        resolved_at: { type: string, format: date-time, nullable: true }
        resolution_note: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ApprovalDecideRequest:
      type: object
      required: [decision]
      properties:
        decision: { type: string, enum: [approve, reject] }
        note: { type: string, maxLength: 2000 }

    # ========================================================================
    # クライアント招待 (R-T08)
    # ========================================================================
    ClientSigninRequest:
      type: object
      required: [invitation_token]
      properties:
        invitation_token: { type: string, minLength: 10, maxLength: 200 }
        display_name: { type: string, maxLength: 100, nullable: true }
        agree_legal:
          type: boolean
          default: false
          description: "利用規約・プライバシーポリシー・越境同意 (GAP-028 — サーバー必須、false は 422)"
        agree_confidential:
          type: boolean
          default: false
          description: "機密保持同意 (GAP-028 — サーバー必須、false は 422)"

    ClientInvitationPreviewRequest:
      type: object
      required: [invitation_token]
      properties:
        invitation_token: { type: string, minLength: 10, maxLength: 200 }

    ClientInvitationPreview:
      type: object
      required: [project_name, workspace_name, invited_email, expires_at, remaining_days]
      properties:
        project_name: { type: string }
        workspace_name: { type: string }
        inviter_name: { type: string, nullable: true, description: "招待元 workspace オーナーの表示名 (未設定は null — 推測で埋めない)" }
        invited_email: { type: string }
        expires_at: { type: string, format: date-time }
        remaining_days: { type: integer, minimum: 0 }

    ClientProjectRef:
      type: object
      required: [id, name]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }

    ClientSigninResponse:
      type: object
      required: [client_access_token, token_type, expires_at, project, scopes]
      properties:
        client_access_token: { type: string, description: "client_portal HS256 JWT (project_id 限定)" }
        token_type: { type: string, enum: [bearer] }
        expires_at: { type: string, format: date-time }
        project: { $ref: '#/components/schemas/ClientProjectRef' }
        scopes:
          type: array
          items: { type: string }

    ClientProjectView:
      type: object
      required: [id, name, scopes]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string, nullable: true }
        scopes:
          type: array
          items: { type: string }
        viewed_as_client_display_name: { type: string, nullable: true }

    ClientPhaseItem:
      type: object
      description: クライアント向け工程 (進捗バー用の最小情報 — GAP-029)。
      required: [name, order, status]
      properties:
        name: { type: string }
        order: { type: integer }
        status: { type: string, enum: [pending, in_progress, completed, skipped] }

    ClientProjectOverview:
      type: object
      description: S-L03 ヘッダカード + バナーの実データ (GAP-029)。progress は実計算。
      required: [phases, progress_percent]
      properties:
        phases:
          type: array
          items: { $ref: '#/components/schemas/ClientPhaseItem' }
        progress_percent: { type: integer, minimum: 0, maximum: 100 }
        operator_workspace_name: { type: string, nullable: true }
        operator_name: { type: string, nullable: true, description: "運営 workspace オーナー表示名 (未設定は null — 創作しない)" }
        link_expires_at: { type: string, format: date-time, nullable: true }
        link_remaining_days: { type: integer, nullable: true, minimum: 0 }

    ClientOutputItem:
      type: object
      description: クライアント向け成果物 — stage 毎の最新版のみ (GAP-029)。
      required: [id, stage, stage_label, version, updated_at, formats]
      properties:
        id: { type: string, format: uuid }
        stage: { type: string }
        stage_label: { type: string }
        version: { type: integer }
        updated_at: { type: string, format: date-time }
        formats:
          type: array
          items: { type: string, enum: [html, json, md] }
          description: 実在する形式のみ (創作しない)
        summary: { type: string, nullable: true }

    ClientMockItem:
      type: object
      description: クライアント向けモック — screen_name 毎の最新版 (GAP-029)。
      required: [id, screen_name, version, updated_at]
      properties:
        id: { type: string, format: uuid }
        screen_name: { type: string }
        version: { type: integer }
        updated_at: { type: string, format: date-time }

    ClientMocksResponse:
      type: object
      required: [items, total_screens]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/ClientMockItem' }
        total_screens: { type: integer }

    ClientCommentCreate:
      type: object
      description: クライアントのコメント投稿 (comment スコープ必須 — GAP-029)。
      required: [target_type, target_id, content]
      properties:
        target_type: { type: string, enum: [workflow_output, mock] }
        target_id: { type: string, format: uuid }
        content: { type: string, minLength: 1, maxLength: 4000 }

    ClientCommentItem:
      type: object
      description: クライアント自身のコメント + 運営からの返信 (GAP-029)。
      required: [id, target_type, target_id, content, is_client_author, created_at]
      properties:
        id: { type: string, format: uuid }
        target_type: { type: string }
        target_id: { type: string, format: uuid }
        target_label: { type: string, nullable: true }
        content: { type: string }
        author_name: { type: string, nullable: true }
        is_client_author: { type: boolean }
        created_at: { type: string, format: date-time }

paths:
  # ==========================================================================
  # auth (T-A-01〜05: signup / signin / Magic Link / リセット / 退会)
  # ==========================================================================
  /auth/signup:
    post:
      tags: [auth]
      summary: ユーザー登録 + 同意取得（F-001 / F-LEGAL-004）
      x-implementation-path: apps/api/src/routes/auth/__init__.py::signup
      x-screen-ids: [S-A01]
      x-feature-ids: [F-001, F-LEGAL-004]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SignupRequest' }
      responses:
        '201':
          description: 登録成功（JWT は含まない、signin で発行）
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SignupResponse' }
        '409': { description: email 重複, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '422': { description: バリデーション失敗 / 必須 consent 不足, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  # ==========================================================================
  # impact (F-IMP01 影響範囲解析 / NetworkX)
  # ==========================================================================
  /impact/tasks/{task_id}:
    get:
      tags: [impact]
      summary: タスク影響範囲解析（下流 task 群 / read-only）
      x-implementation-path: apps/api/src/routes/impact/__init__.py::analyze_task_impact
      x-screen-ids: []
      parameters:
        - { name: task_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 解析結果
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ImpactAnalysisResponse' }
[...]
