openapi: 3.0.3
info:
  title: Atelier API
  version: 1.0.0
  description: |
    Atelier - AI 社員常駐型開発プロジェクト統合管理 SaaS の API。

    ★ API 契約凍結: 2026-05-20T13:30:00+09:00 ★
    以後の変更は ADR + 影響解析 + 承認フロー必須。

    認証 4 系統:
    - 一般 JWT (Supabase Auth)
    - クライアント別 JWT (role=client_portal, project_id クレーム限定・R-T08 対応)
    - MCP Token
    - Service Role (バックエンド内部 + Bridge worker)
  contact:
    name: ENGINE BASE
    email: info@engine-base.com
  license:
    name: Proprietary

servers:
  - url: https://atelier.app/api/v1
    description: 本番
  - url: https://*.preview.atelier.app/api/v1
    description: Preview Deploy
  - url: http://localhost:8000/api/v1
    description: ローカル開発

tags:
  - name: auth
    description: 認証・サインアップ・退会
  - name: workspaces
    description: ワークスペース管理
  - name: projects
    description: プロジェクト管理
  - name: employees
    description: AI 社員（10 名固定）
  - name: chat
    description: チャット (F-CTX01)
  - name: workflow
    description: 9 工程ワークフロー
  - name: tasks
    description: タスク管理（6 列ライフサイクル）
  - name: kanban-tools
    description: Hermes 互換 kanban tools（Bridge worker 専用）
  - name: executions
    description: 実行モニター・Bridge
  - name: approval-inbox
    description: 承認待ち
  - name: client-portal
    description: クライアント招待（別 JWT 系統）
  - name: knowledge
    description: ナレッジ管理
  - name: admin
    description: 運営（platform_admin 限定）
  - name: public
    description: 公開ページ（法令）
  - name: mcp
    description: MCP Server

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    bridgeToken:
      type: apiKey
      in: header
      name: X-Bridge-Token
    clientPortalAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # ========================================================================
    # 共通
    # ========================================================================
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, request_id]
          properties:
            code:
              type: string
              enum:
                - BAD_REQUEST
                - UNAUTHENTICATED
                - INVALID_CREDENTIALS
                - INVALID_BRIDGE_TOKEN
                - INVALID_INVITATION_TOKEN
                - FORBIDDEN
                - ACCOUNT_LOCKED
                - ACCOUNT_DELETED
                - NOT_FOUND
                - CONFLICT
                - INVALID_LIFECYCLE_STAGE
                - DEPENDENCIES_NOT_MET
                - ALREADY_DECIDED
                - EMAIL_ALREADY_REGISTERED
                - EMAIL_IN_DELETION_GRACE
                - OWNER_OF_WORKSPACE_WITH_OTHERS
                - INVITATION_EXPIRED
                - VALIDATION_ERROR
                - CONSENT_REQUIRED
                - RATE_LIMITED
                - BYOK_QUOTA_EXCEEDED
                - INTERNAL_ERROR
                - BRIDGE_OFFLINE
                - PARALLEL_LIMIT_REACHED
                - F_CTX01_TIMEOUT
            message: { type: string }
            details:
              type: array
              items:
                type: object
                properties:
                  field: { type: string }
                  code: { type: string }
                  message: { type: string }
            request_id: { type: string, format: uuid }
            trace_id: { type: string }

    PaginationMeta:
      type: object
      properties:
        next_cursor: { type: string, nullable: true }
        limit: { type: integer }
        total_estimate: { type: integer }

    # ========================================================================
    # auth
    # ========================================================================
    User:
      type: object
      required: [id, email, display_name, language, ai_learning_opt_out, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        display_name: { type: string, maxLength: 50 }
        avatar_url: { type: string, nullable: true }
        language: { type: string, enum: [ja, en] }
        ai_learning_opt_out: { type: boolean, default: true }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    SignupRequest:
      type: object
      required: [email, password, display_name, consents]
      properties:
        email: { type: string, format: email, maxLength: 254 }
        password: { type: string, minLength: 8, maxLength: 128 }
        display_name: { type: string, maxLength: 50 }
        consents:
          type: object
          required: [terms, privacy, cross_border]
          properties:
            terms: { type: boolean }
            privacy: { type: boolean }
            cross_border: { type: boolean }
            marketing: { type: boolean }

    SigninRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }

    AuthResponse:
      type: object
      required: [user, access_token]
      properties:
        user: { $ref: '#/components/schemas/User' }
        workspace: { $ref: '#/components/schemas/Workspace' }
        access_token: { type: string }
        refresh_token: { type: string, description: "opaque, httpOnly cookie" }

    # ========================================================================
    # workspace
    # ========================================================================
    Workspace:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string, nullable: true }
        member_count: { type: integer }
        project_count: { type: integer }
        plan: { type: string, enum: [free, pro, enterprise] }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    InviteMemberRequest:
      type: object
      required: [email, role]
      properties:
        email: { type: string, format: email }
        role: { type: string, enum: [owner, member, viewer] }
        message: { type: string, maxLength: 500 }

    # ========================================================================
    # project
    # ========================================================================
    Project:
      type: object
      properties:
        id: { type: string, format: uuid }
        workspace_id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string, nullable: true }
        type: { type: string, enum: [self_product, client_project, personal] }
        status: { type: string, enum: [in_progress, draft, paused, archived] }
        ai_learning_opt_out: { type: boolean }
        current_phase:
          type: string
          enum: [hearing, requirements, architecture, design, breakdown, tasks, implementation, verification, delivery]
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CreateProjectRequest:
      type: object
      required: [workspace_id, name, type]
      properties:
        workspace_id: { type: string, format: uuid }
        name: { type: string, maxLength: 100 }
        type: { type: string, enum: [self_product, client_project, personal] }
        description: { type: string }

    # ========================================================================
    # task
    # ========================================================================
    Task:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        phase: { type: string }
        category: { type: string }
        title: { type: string }
        description: { type: string, nullable: true }
        type: { type: string, enum: [foundation, screen, feature, verification, infrastructure, migration] }
        estimated_hours: { type: integer, minimum: 1, maximum: 24 }
        priority: { type: string, enum: [critical, high, medium, low] }
        lifecycle_stage:
          type: string
          enum: [triage, ready, in_progress, blocked, awaiting, done]
          description: Hermes 6 列モデル
        dispatch_status:
          type: string
          enum: [queued, spawning, running, completing, dead, reclaimed]
          nullable: true
        assigned_employee_id:
          type: string
          enum: [jarvis, tony, natasha, steve, peter, strange, wanda, thor, vision, tchalla]
        # Hermes 互換
        summary: { type: string, nullable: true }
        metadata: { type: object }
        blocked_reason: { type: string, nullable: true }
        retry_count: { type: integer, minimum: 0, maximum: 3 }
        worktree_path: { type: string, nullable: true }
        worker_pid: { type: integer, nullable: true }
        # 依存関係
        dependencies: { type: array, items: { type: string, format: uuid } }
        prerequisites: { type: array, items: { type: string, format: uuid } }
        blocks: { type: array, items: { type: string, format: uuid } }
        # 紐付け
        acceptance_criteria_id: { type: string, format: uuid, nullable: true }
        mock_id: { type: string, format: uuid, nullable: true }
        # 系譜
        parent_task_id: { type: string, format: uuid, nullable: true }
        origin_type:
          type: string
          enum: [initial_decomposition, refactor, scope_change_auto, manual_added]
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    AcceptanceCriteria:
      type: object
      properties:
        id: { type: string, format: uuid }
        task_id: { type: string, format: uuid }
        html_path: { type: string }
        items: { type: array, items: { type: object } }
        version: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    TaskExecution:
      type: object
      properties:
        id: { type: string, format: uuid }
        task_id: { type: string, format: uuid }
        started_at: { type: string, format: date-time }
        completed_at: { type: string, format: date-time, nullable: true }
        score: { type: number, nullable: true }
        ac_pass_rate: { type: number, nullable: true }
        test_pass_rate: { type: number, nullable: true }
        verification_score: { type: number, nullable: true }
        retry_count: { type: integer }
        status: { type: string }
        claude_code_session_id: { type: string, nullable: true }
        logs_storage_path: { type: string, nullable: true }
        error_summary: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    Mock:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        screen_name: { type: string }
        html_storage_path: { type: string }
        version: { type: integer }
        parent_mock_id: { type: string, format: uuid, nullable: true }
        meta_tags: { type: object, nullable: true }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    AiEmployee:
      type: object
      properties:
        id: { type: string, format: uuid }
        workspace_id: { type: string, format: uuid }
        template_id: { type: string, format: uuid, nullable: true }
        name: { type: string }
        display_name: { type: string }
        icon: { type: string, nullable: true }
        role: { type: string, enum: [coo, lead, member] }
        department: { type: string, enum: [executive, sales, product, architecture, design, dev_qa, cross_functional] }
        tone_preset: { type: string, enum: [polite, friendly, casual, concise, coaching] }
        custom_tone_text: { type: string, nullable: true }
        attached_skills: { type: array, items: { type: string, format: uuid } }
        attached_knowledge_cats: { type: array, items: { type: string } }
        is_default: { type: boolean }
        archived: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    AiEmployeeTemplate:
      type: object
      properties:
        id: { type: string, format: uuid }
        default_name: { type: string }
        default_display_name: { type: string }
        default_icon: { type: string, nullable: true }
        department: { type: string, enum: [executive, sales, product, architecture, design, dev_qa, cross_functional] }
        role: { type: string, enum: [coo, lead, member] }
        default_skills: { type: array, items: { type: string, format: uuid } }
        default_knowledge_cats: { type: array, items: { type: string } }
        system_prompt: { type: string }
        specialty: { type: string }
        version: { type: integer }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    AuditLog:
      type: object
      properties:
        id: { type: string, format: uuid }
        workspace_id: { type: string, format: uuid, nullable: true }
        actor_type: { type: string, enum: [ai, user, system, anonymous] }
        actor_id: { type: string }
        action: { type: string }
        target_type: { type: string }
        target_id: { type: string, format: uuid, nullable: true }
        before: { type: object, nullable: true }
        after: { type: object, nullable: true }
        ip_address: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    AdminSkill:
      type: object
      description: 運営 admin 向け skill 詳細 (T-A-42)。
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        version: { type: string }
        description: { type: string, nullable: true }
        content_md: { type: string }
        assets_storage_path: { type: string, nullable: true }
        allowed_employee_roles: { type: array, items: { type: string } }
        allowed_employee_ids: { type: array, items: { type: string, format: uuid } }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    AdminTemplate:
      type: object
      description: 運営 admin 向け AI 社員テンプレ詳細 (T-A-42)。
      properties:
        id: { type: string, format: uuid }
        default_name: { type: string }
        default_display_name: { type: string }
        default_icon: { type: string, nullable: true }
        department: { type: string }
        role: { type: string }
        default_skills: { type: array, items: { type: string, format: uuid } }
        default_knowledge_cats: { type: array, items: { type: string } }
        system_prompt: { type: string }
        specialty: { type: string }
        version: { type: integer }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    AdminDashboard:
      type: object
      description: 運営 admin dashboard 集計 (T-A-41 / admin 所属 workspaces scope)。
      properties:
        workspace_count: { type: integer }
        project_count: { type: integer }
        ai_employee_count: { type: integer }
        audit_log_count_24h: { type: integer }
        generated_at: { type: string, format: date-time }

    AdminUser:
      type: object
      description: 運営 admin 用メンバー詳細 (T-A-41 / workspace_member_details definer 経由)。
      properties:
        user_id: { type: string, format: uuid }
        email: { type: string }
        display_name: { type: string, nullable: true }
        role: { type: string }
        joined_at: { type: string, format: date-time }
        workspace_id: { type: string, format: uuid }

    ClientInvitation:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        email: { type: string, format: email }
        scopes: { type: array, items: { type: string } }
        expires_at: { type: string, format: date-time }
        used_at: { type: string, format: date-time, nullable: true }
        revoked_at: { type: string, format: date-time, nullable: true }
        client_display_name: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ClientInvitationWithToken:
      allOf:
        - { $ref: '#/components/schemas/ClientInvitation' }
        - type: object
          properties:
            token: { type: string, description: 生成時のみ返る raw token (招待 URL 用) }

    WorkspaceMember:
      type: object
      properties:
        workspace_id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        email: { type: string, format: email }
        display_name: { type: string, nullable: true }
        role: { type: string, enum: [owner, member, viewer] }
        joined_at: { type: string, format: date-time }

    ChatThread:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        ai_employee_id: { type: string, format: uuid }
        title: { type: string, nullable: true }
        archived: { type: boolean }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ChatMessage:
      type: object
      properties:
        id: { type: string, format: uuid }
        thread_id: { type: string, format: uuid }
        role: { type: string, enum: [user, assistant, system, tool] }
        content: { type: string }
        parent_message_id: { type: string, format: uuid, nullable: true }
        token_count: { type: integer, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    MessageFeedback:
      type: object
      properties:
        feedback_id: { type: string, format: uuid }
        message_id: { type: string, format: uuid }
        value: { type: string, enum: [up, down] }
        comment: { type: string, nullable: true }
        recorded_at: { type: string, format: date-time }

    Phase:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        order: { type: integer }
        name: { type: string }
        description: { type: string, nullable: true }
        status: { type: string, enum: [pending, in_progress, completed, skipped] }
        started_at: { type: string, format: date-time, nullable: true }
        completed_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    WorkflowOutput:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        phase_id: { type: string, format: uuid, nullable: true }
        stage: { type: string }
        html_path: { type: string, nullable: true }
        json_path: { type: string, nullable: true }
        md_path: { type: string, nullable: true }
        summary: { type: string, nullable: true }
        version: { type: integer }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    Comment:
      type: object
      properties:
        id: { type: string, format: uuid }
        target_type: { type: string, enum: [workflow_output, mock, task, acceptance_criteria] }
        target_id: { type: string, format: uuid }
        target_element_id: { type: string, nullable: true }
        author_user_id: { type: string, format: uuid, nullable: true }
        author_invitation_id: { type: string, format: uuid, nullable: true }
        content: { type: string }
        status: { type: string, enum: [open, resolved, deleted] }
        parent_comment_id: { type: string, format: uuid, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CronSchedule:
      type: object
      description: cron スケジュール (T-A-40)。project-scoped。Inngest 連動は別途。
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        name: { type: string }
        cron_expression: { type: string }
        target_action: { type: string, enum: [task_replay, knowledge_organize, industry_extract, report_summary, daily_digest, weekly_burndown] }
        target_payload: { type: object }
        enabled: { type: boolean }
        next_run_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    LegalDocument:
      type: object
      properties:
        id: { type: string, format: uuid }
        doc_type: { type: string, enum: [terms_of_service, privacy_policy, tokushoho] }
        version: { type: string }
        locale: { type: string }
        title: { type: string }
        body_md: { type: string }
        effective_date: { type: string, format: date }
        is_current: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    DataDeletionRequestResponse:
      type: object
      properties:
        request_id: { type: string, format: uuid }
        status: { type: string }
        requested_at: { type: string, format: date-time }

    ImpactAnalysisResponse:
      type: object
      properties:
        root_task_id: { type: string, format: uuid }
        affected_task_ids: { type: array, items: { type: string, format: uuid } }
        affected_count: { type: integer }

    PlayTaskRequest:
      type: object
      properties:
        force: { type: boolean, default: false }

    PlayTaskResponse:
      type: object
      properties:
        task_id: { type: string, format: uuid }
        lifecycle_stage: { type: string }
        dispatch_status: { type: string }
        execution_id: { type: string, format: uuid }
        worktree_path: { type: string }
        bridge_command: { type: string }
        queue_position: { type: integer, description: "並列上限超過時のキュー位置" }

    TaskBulkLifecycleRequest:
      type: object
      required: [task_ids, target_stage]
      properties:
        task_ids:
          type: array
          minItems: 1
          maxItems: 200
          items: { type: string, format: uuid }
        target_stage:
          type: string
          enum: [triage, ready, in_progress, blocked, awaiting, done]
        note: { type: string, maxLength: 2000, nullable: true }

    TaskBulkLifecycleResponse:
      type: object
      required: [requested, updated, updated_task_ids, skipped_task_ids]
      properties:
        requested: { type: integer, minimum: 0 }
        updated: { type: integer, minimum: 0 }
        updated_task_ids:
          type: array
          items: { type: string, format: uuid }
        skipped_task_ids:
          type: array
          items: { type: string, format: uuid }

    TaskDecisionRequest:
      type: object
      properties:
        note: { type: string, maxLength: 2000, nullable: true }

    SalesDocCreate:
      type: object
      required: [project_id, doc_type]
      properties:
        project_id: { type: string, format: uuid }
        doc_type: { type: string, enum: [proposal, estimate] }
        summary: { type: string, maxLength: 4000, nullable: true }
        html_path: { type: string, maxLength: 500, nullable: true }
        json_path: { type: string, maxLength: 500, nullable: true }
        md_path: { type: string, maxLength: 500, nullable: true }

    SalesDocUpdate:
      type: object
      properties:
        summary: { type: string, maxLength: 4000, nullable: true }
        html_path: { type: string, maxLength: 500, nullable: true }
        json_path: { type: string, maxLength: 500, nullable: true }
        md_path: { type: string, maxLength: 500, nullable: true }

    SalesDoc:
      type: object
      required: [id, project_id, doc_type, version, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        phase_id: { type: string, format: uuid, nullable: true }
        doc_type: { type: string, enum: [proposal, estimate] }
        html_path: { type: string, nullable: true }
        json_path: { type: string, nullable: true }
        md_path: { type: string, nullable: true }
        summary: { type: string, nullable: true }
        version: { type: integer, minimum: 1 }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    MeetingCreate:
      type: object
      required: [project_id, type, storage_path, file_name, file_size_bytes, mime_type]
      properties:
        project_id: { type: string, format: uuid }
        type: { type: string, enum: [audio, video, document] }
        storage_path: { type: string, minLength: 1, maxLength: 500 }
        file_name: { type: string, minLength: 1, maxLength: 255 }
        file_size_bytes: { type: integer, minimum: 0 }
        mime_type: { type: string, minLength: 1, maxLength: 200 }

    Meeting:
      type: object
      required:
        - id
        - project_id
        - uploaded_by_user_id
        - type
        - storage_path
        - file_name
        - file_size_bytes
        - mime_type
        - created_at
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        uploaded_by_user_id: { type: string, format: uuid }
        type: { type: string, enum: [audio, video, document] }
        storage_path: { type: string }
        file_name: { type: string }
        file_size_bytes: { type: integer }
        mime_type: { type: string }
        parsed_at: { type: string, format: date-time, nullable: true }
        parse_result_path: { type: string, nullable: true }
        parse_error: { type: string, nullable: true }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    MeetingTranscribeRequest:
      type: object
      properties:
        force: { type: boolean, default: false }

    MeetingTranscribeResponse:
      type: object
      required: [id, status, queued_at]
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [queued, already_parsed] }
        queued_at: { type: string, format: date-time }

    KnowledgeCreate:
      type: object
      required: [account_id, account_type, scope, category, title, content_md]
      properties:
        account_id: { type: string, format: uuid }
        account_type: { type: string, enum: [workspace, user] }
        scope: { type: string, enum: [common, employee_specific] }
        category: { type: string, minLength: 1, maxLength: 100 }
        title: { type: string, minLength: 1, maxLength: 200 }
        content_md: { type: string, minLength: 1 }
        tags: { type: array, items: { type: string }, maxItems: 50 }
        owner_employee_id: { type: string, format: uuid, nullable: true }
        source_type: { type: string, enum: [manual, ai_extracted, import, mem0], default: manual }
        source_project_id: { type: string, format: uuid, nullable: true }
        confidence_score: { type: number, minimum: 0, maximum: 1, default: 0.5 }
        is_anonymized: { type: boolean, default: false }

    KnowledgeUpdate:
      type: object
      properties:
        title: { type: string, minLength: 1, maxLength: 200, nullable: true }
        content_md: { type: string, minLength: 1, nullable: true }
        category: { type: string, minLength: 1, maxLength: 100, nullable: true }
        tags: { type: array, items: { type: string }, maxItems: 50, nullable: true }
        confidence_score: { type: number, minimum: 0, maximum: 1, nullable: true }
        is_anonymized: { type: boolean, nullable: true }

    Knowledge:
      type: object
      required:
        - id
        - account_id
        - account_type
        - scope
        - category
        - title
        - content_md
        - tags
        - source_type
        - confidence_score
        - usage_count
        - is_anonymized
        - created_at
        - updated_at
      properties:
        id: { type: string, format: uuid }
        account_id: { type: string, format: uuid }
        account_type: { type: string, enum: [workspace, user] }
        scope: { type: string, enum: [common, employee_specific] }
        owner_employee_id: { type: string, format: uuid, nullable: true }
        category: { type: string }
        title: { type: string }
        content_md: { type: string }
        tags: { type: array, items: { type: string } }
        source_type: { type: string }
        source_project_id: { type: string, format: uuid, nullable: true }
        confidence_score: { type: number }
        usage_count: { type: integer }
        is_anonymized: { type: boolean }
        approved_by_user_id: { type: string, format: uuid, nullable: true }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    KnowledgeSearchRequest:
      type: object
      required: [query]
      properties:
        query: { type: string, minLength: 1 }
        limit: { type: integer, minimum: 1, maximum: 50, default: 10 }
        account_id: { type: string, format: uuid, nullable: true }

    KnowledgeSearchHit:
      type: object
      required: [knowledge, score]
      properties:
        knowledge: { $ref: '#/components/schemas/Knowledge' }
        score: { type: number, description: "cosine similarity (0..1)" }

    KnowledgeSearchResponse:
      type: object
      required: [query, hits, total]
      properties:
        query: { type: string }
        hits: { type: array, items: { $ref: '#/components/schemas/KnowledgeSearchHit' } }
        total: { type: integer }

    ChatStreamRequest:
      type: object
      required: [user_message]
      properties:
        user_message: { type: string, minLength: 1, maxLength: 20000 }
        use_knowledge_rag: { type: boolean, default: true }
        include_history: { type: integer, minimum: 0, maximum: 50, default: 10 }
        rag_account_id: { type: string, format: uuid, nullable: true }

    ChatContextPreviewRequest:
      type: object
      required: [user_message]
      properties:
        user_message: { type: string, minLength: 1, maxLength: 20000 }
        include_history: { type: integer, minimum: 0, maximum: 50, default: 10 }
        rag_account_id: { type: string, format: uuid, nullable: true }

    ChatContextPreviewResponse:
      type: object
      required: [system_prompt, history_count, rag_hit_ids]
      properties:
        system_prompt: { type: string }
        history_count: { type: integer, minimum: 0 }
        rag_hit_ids:
          type: array
          items: { type: string, format: uuid }

    # ========================================================================
    # Hermes 互換
    # ========================================================================
    KanbanCompleteRequest:
      type: object
      required: [task_id, summary, metadata]
      properties:
        task_id: { type: string, format: uuid }
        summary: { type: string }
        metadata:
          type: object
          required: [score, ac_pass_rate, test_pass_rate, verification_score, retry_count]
          properties:
            score: { type: number, minimum: 0, maximum: 1 }
            ac_pass_rate: { type: number }
            test_pass_rate: { type: number }
            verification_score: { type: number }
            files_changed: { type: array, items: { type: string } }
            retry_count: { type: integer }

    # ========================================================================
    # MCP トークン管理 (T-A-08)
    # ========================================================================
    McpToken:
      type: object
      properties:
        id: { type: string, format: uuid }
        workspace_id: { type: string, format: uuid }
        name: { type: string }
        scopes: { type: array, items: { type: string } }
        expires_at: { type: string, format: date-time, nullable: true }
        revoked_at: { type: string, format: date-time, nullable: true }
        last_used_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    McpTokenCreateResponse:
      allOf:
        - $ref: '#/components/schemas/McpToken'
        - type: object
          required: [token]
          properties:
            token:
              type: string
              description: "plaintext token (作成直後の 1 度のみ返す。以降は再表示不可)"

    # ========================================================================
    # BYOK API キー (T-A-09)
    # ========================================================================
    ByokKey:
      type: object
      description: BYOK (Bring Your Own Key) API キー。plaintext / encrypted_key は応答に含めない。
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        provider: { type: string, enum: [claude, openai, gemini] }
        label: { type: string, nullable: true }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    # ========================================================================
    # 承認待ち
    # ========================================================================
    ApprovalInboxEntry:
      type: object
      description: 承認待ちインボックスエントリ (E-? approval_inbox)。本人のみ可視 (RLS user_id=auth.uid())。
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        type:
          type: string
          enum: [task_approval, phase_approval, knowledge_write, comment_response, scope_change]
        target_type: { type: string }
        target_id: { type: string, format: uuid }
        title: { type: string }
        payload: { type: object }
        status: { type: string, enum: [pending, approved, rejected] }
        resolved_at: { type: string, format: date-time, nullable: true }
        resolution_note: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ApprovalDecideRequest:
      type: object
      required: [decision]
      properties:
        decision: { type: string, enum: [approve, reject] }
        note: { type: string, maxLength: 2000 }

    # ========================================================================
    # クライアント招待 (R-T08)
    # ========================================================================
    ClientSigninRequest:
      type: object
      required: [invitation_token]
      properties:
        invitation_token: { type: string }
        display_name: { type: string }

    ClientSigninResponse:
      type: object
      properties:
        client_access_token: { type: string }
        project:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
        expires_at: { type: string, format: date-time }

paths:
  # ==========================================================================
  # impact (F-IMP01 影響範囲解析 / NetworkX)
  # ==========================================================================
  /impact/tasks/{task_id}:
    get:
      tags: [impact]
      summary: タスク影響範囲解析（下流 task 群 / read-only）
      x-implementation-path: apps/api/src/routes/impact/__init__.py::analyze_task_impact
      x-screen-ids: []
      parameters:
        - { name: task_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 解析結果
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ImpactAnalysisResponse' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  # ==========================================================================
  # public (法令ページ + データ削除請求 / 未認証アクセス可)
  # ==========================================================================
  /public/legal-documents:
    get:
      tags: [public]
      summary: 法令ページ一覧（公開・未認証可）
      x-implementation-path: apps/api/src/routes/public/__init__.py::list_legal_documents
      x-screen-ids: [S-PUB01, S-PUB02, S-PUB03]
      parameters:
        - { name: locale, in: query, schema: { type: string } }
      responses:
        '200':
          description: 一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/LegalDocument' } }

  /public/legal-documents/{doc_type}:
    get:
      tags: [public]
      summary: 法令ページ取得（公開・未認証可）
      x-implementation-path: apps/api/src/routes/public/__init__.py::get_legal_document
      x-screen-ids: [S-PUB01, S-PUB02, S-PUB03]
      parameters:
        - { name: doc_type, in: path, required: true, schema: { type: string, enum: [terms_of_service, privacy_policy, tokushoho] } }
        - { name: locale, in: query, schema: { type: string, default: ja } }
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/LegalDocument' }
        '404': { description: 不在, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /public/data-deletion-requests:
    post:
      tags: [public]
      summary: データ削除請求（本人・要認証 / F-LEGAL-002）
      x-implementation-path: apps/api/src/routes/public/__init__.py::create_data_deletion_request
      x-screen-ids: [S-PUB04]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string, maxLength: 2000 }
      responses:
        '201':
          description: 受付
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/DataDeletionRequestResponse' }
        '401': { description: 未認証, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  # ==========================================================================
  # auth (11 endpoints)
  # ==========================================================================
  /auth/signup:
    post:
      tags: [auth]
      summary: 新規登録 + 同意取得
      security: []
      x-implementation-path: apps/api/src/routes/auth.py::signup
      x-screen-ids: [S-A01]
      x-rate-limit: 5/min/ip
      x-feature-ids: [F-001, F-LEGAL-004]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SignupRequest' }
      responses:
        '201':
          description: 登録成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AuthResponse' }
        '409':
          description: メール重複 or 削除猶予中
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: バリデーション失敗 or 同意未取得
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429':
          description: レート上限
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/signin:
    post:
      tags: [auth]
      summary: メールサインイン
      security: []
      x-implementation-path: apps/api/src/routes/auth.py::signin
      x-screen-ids: [S-A01]
      x-rate-limit: 5/min/ip
      x-feature-ids: [F-001]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SigninRequest' }
      responses:
        '200':
          description: サインイン成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AuthResponse' }
        '401':
          description: 認証情報不正
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: アカウントロック or 削除猶予中
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429':
          description: レート上限
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/signout:
    post:
      tags: [auth]
      summary: サインアウト
      x-implementation-path: apps/api/src/routes/auth.py::signout
      responses:
        '204': { description: 成功 }

  /auth/magic-link:
    post:
      tags: [auth]
      summary: Magic Link 発行
      security: []
      x-implementation-path: apps/api/src/routes/auth.py::magic_link
      x-rate-limit: 3/min/ip + 1/min/email
      x-feature-ids: [F-001]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '202': { description: メール送信受付 }
        '429':
          description: レート上限
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/oauth/google:
    post:
      tags: [auth]
      summary: Google OAuth 連携
      security: []
      x-implementation-path: apps/api/src/routes/auth.py::oauth_google
      x-screen-ids: [S-A01]
      x-feature-ids: [F-001]
      responses:
        '302': { description: Google にリダイレクト }

  /auth/oauth/github:
    post:
      tags: [auth]
      summary: GitHub OAuth 連携
      security: []
      x-implementation-path: apps/api/src/routes/auth.py::oauth_github
      x-screen-ids: [S-A01]
      x-feature-ids: [F-001]
      responses:
        '302': { description: GitHub にリダイレクト }

  /auth/callback:
    get:
      tags: [auth]
      summary: OAuth callback
      security: []
      x-implementation-path: apps/api/src/routes/auth.py::oauth_callback
      responses:
        '302': { description: アプリにリダイレクト }

  /auth/reset-password:
    post:
      tags: [auth]
      summary: パスワードリセット
      security: []
      x-implementation-path: apps/api/src/routes/auth.py::reset_password
      x-rate-limit: 3/min/ip + 1/min/email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '202': { description: リセットメール送信 }

  /auth/me:
    get:
      tags: [auth]
      summary: 現在のユーザー情報
      x-implementation-path: apps/api/src/routes/auth.py::me
      x-rate-limit: 100/min/user
      responses:
        '200':
          description: ユーザー情報
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/User' }
        '401':
          description: 未認証
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/account:
    delete:
      tags: [auth]
      summary: 退会申請（30 日猶予開始）
      x-implementation-path: apps/api/src/routes/auth.py::delete_account
      x-screen-ids: [S-A03]
      x-feature-ids: [F-001, F-LEGAL-002]
      responses:
        '200':
          description: 退会申請受付
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deletion_scheduled_at: { type: string, format: date-time }
                      hard_delete_at: { type: string, format: date-time }
                      cancellation_deadline: { type: string, format: date-time }
        '409':
          description: 単一オーナーで他メンバー在籍
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/account/cancel-deletion:
    post:
      tags: [auth]
      summary: 退会キャンセル（30 日猶予中のみ）
      x-implementation-path: apps/api/src/routes/auth.py::cancel_deletion
      x-screen-ids: [S-A03]
      responses:
        '200': { description: キャンセル成功 }
        '409':
          description: 既に hard delete 済 or 猶予期間外
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ==========================================================================
  # workspaces (9 endpoints) - 1 つだけ完全定義、残りは構造同様
  # ==========================================================================
  /workspaces:
    get:
      tags: [workspaces]
      summary: 所属 WS 一覧
      x-implementation-path: apps/api/src/routes/workspaces.py::list
      x-screen-ids: [S-B01]
      responses:
        '200':
          description: WS 一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Workspace' }
    post:
      tags: [workspaces]
      summary: 新規 WS 作成
      x-implementation-path: apps/api/src/routes/workspaces.py::create
      x-screen-ids: [S-A03]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 100 }
                description: { type: string }
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Workspace' }

  /workspaces/{workspace_id}:
    get:
      tags: [workspaces]
      summary: WS 詳細
      x-implementation-path: apps/api/src/routes/workspaces/__init__.py::get_workspace
      x-screen-ids: [S-B01]
      parameters:
        - { name: workspace_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: WS 詳細
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Workspace' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    patch:
      tags: [workspaces]
      summary: WS 更新
      x-implementation-path: apps/api/src/routes/workspaces/__init__.py::update_workspace
      x-screen-ids: [S-A03]
      parameters:
        - { name: workspace_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 2, maxLength: 50 }
                description: { type: string }
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Workspace' }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    delete:
      tags: [workspaces]
      summary: WS 削除（論理）
      x-implementation-path: apps/api/src/routes/workspaces/__init__.py::delete_workspace
      x-screen-ids: [S-A03]
      parameters:
        - { name: workspace_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '204': { description: 削除成功 }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  # ==========================================================================
  # workspace-members (招待・ロール・削除)
  # ==========================================================================
  /workspaces/{workspace_id}/members:
    parameters:
      - { name: workspace_id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [workspace-members]
      summary: WS メンバー一覧
      x-implementation-path: apps/api/src/routes/workspace_members/__init__.py::list_members
      x-screen-ids: [S-A03]
      responses:
        '200':
          description: メンバー一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/WorkspaceMember' } }
    post:
      tags: [workspace-members]
      summary: WS メンバー招待
      x-implementation-path: apps/api/src/routes/workspace_members/__init__.py::invite_member
      x-screen-ids: [S-A03]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InviteMemberRequest' }
      responses:
        '201':
          description: 招待成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/WorkspaceMember' }
        '403': { description: owner でない, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '409': { description: 既にメンバー, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '422': { description: メール未登録, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /workspaces/{workspace_id}/members/{user_id}:
    parameters:
      - { name: workspace_id, in: path, required: true, schema: { type: string, format: uuid } }
      - { name: user_id, in: path, required: true, schema: { type: string, format: uuid } }
    patch:
      tags: [workspace-members]
      summary: WS メンバーのロール変更
      x-implementation-path: apps/api/src/routes/workspace_members/__init__.py::update_role
      x-screen-ids: [S-A03]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role: { type: string, enum: [owner, member, viewer] }
      responses:
        '200':
          description: 変更成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/WorkspaceMember' }
        '403': { description: 不在 or 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    delete:
      tags: [workspace-members]
      summary: WS メンバー削除
      x-implementation-path: apps/api/src/routes/workspace_members/__init__.py::remove_member
      x-screen-ids: [S-A03]
      responses:
        '204': { description: 削除成功 }
        '403': { description: 不在 or 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  # ==========================================================================
  # projects (8 endpoints) - 主要 3 つ
  # ==========================================================================
  /projects:
    get:
      tags: [projects]
      summary: プロジェクト一覧（カーソル）
      x-implementation-path: apps/api/src/routes/projects.py::list
      x-screen-ids: [S-B01]
      parameters:
        - in: query
          name: workspace_id
          schema: { type: string, format: uuid }
        - in: query
          name: status
          schema: { type: string }
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, default: 20, maximum: 100 }
        - in: query
          name: include_deleted
          description: true で論理削除済 (ゴミ箱) も含める (T-A-12)
          schema: { type: boolean, default: false }
      responses:
        '200':
          description: 一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Project' }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }
    post:
      tags: [projects]
      summary: 新規プロジェクト
      x-implementation-path: apps/api/src/routes/projects.py::create
      x-screen-ids: [S-B01]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateProjectRequest' }
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Project' }

  /projects/{project_id}:
    get:
      tags: [projects]
      summary: プロジェクト詳細
      x-implementation-path: apps/api/src/routes/projects/__init__.py::get_project
      x-screen-ids: [S-B02]
      parameters:
        - { name: project_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 詳細
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Project' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    patch:
      tags: [projects]
      summary: プロジェクト更新
      x-implementation-path: apps/api/src/routes/projects/__init__.py::update_project
      x-screen-ids: [S-B02]
      parameters:
        - { name: project_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 200 }
                description: { type: string }
                status: { type: string, enum: [in_progress, draft, paused, archived] }
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Project' }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    delete:
      tags: [projects]
      summary: プロジェクト削除（論理）
      x-implementation-path: apps/api/src/routes/projects/__init__.py::delete_project
      x-screen-ids: [S-B02]
      parameters:
        - { name: project_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '204': { description: 削除成功 }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /projects/{project_id}/restore:
    post:
      tags: [projects]
      summary: プロジェクト復元（論理削除を取消 / 30 日猶予内）
      x-implementation-path: apps/api/src/routes/projects/__init__.py::restore_project
      x-screen-ids: [S-B02]
      parameters:
        - { name: project_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 復元成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Project' }
        '404': { description: 不在 / 未削除 / 猶予超過, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /projects/{project_id}/dashboard:
    parameters:
      - in: path
        name: project_id
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [projects]
      summary: プロジェクト KPI ダッシュボード
      x-implementation-path: apps/api/src/routes/projects/__init__.py::project_dashboard
      x-screen-ids: [S-B02]
      responses:
        '200':
          description: ダッシュボード
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: object }

  /projects/{project_id}/ai-learning:
    post:
      tags: [projects]
      summary: プロジェクト単位 AI 学習 OFF (F-LEGAL-011)
      x-implementation-path: apps/api/src/routes/projects/__init__.py::set_project_ai_learning
      x-screen-ids: [S-B02]
      parameters:
        - { name: project_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [opt_out]
              properties:
                opt_out: { type: boolean }
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Project' }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /account/ai-learning:
    post:
      tags: [projects]
      summary: アカウント単位 AI 学習 OFF (F-LEGAL-011)
      x-implementation-path: apps/api/src/routes/projects/__init__.py::set_account_ai_learning
      x-screen-ids: [S-A04]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [opt_out]
              properties:
                opt_out: { type: boolean }
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user_id: { type: string, format: uuid }
                      ai_learning_opt_out: { type: boolean }

  # ==========================================================================
  # tasks + execution (主要 endpoint)
  # ==========================================================================
  /tasks:
    get:
      tags: [tasks]
      summary: タスク一覧
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::list_tasks
      x-screen-ids: [S-I01]
      parameters:
        - { name: project_id, in: query, schema: { type: string, format: uuid } }
        - { name: lifecycle_stage, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 50, maximum: 200 } }
      responses:
        '200':
          description: 一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Task' } }
    post:
      tags: [tasks]
      summary: タスク作成
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::create_task
      x-screen-ids: [S-I01]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [project_id, category, title, type, estimated_hours]
              properties:
                project_id: { type: string, format: uuid }
                category: { type: string, maxLength: 100 }
                title: { type: string, maxLength: 200 }
                type: { type: string, enum: [foundation, screen, feature, verification, infrastructure, migration] }
                estimated_hours: { type: integer, minimum: 1, maximum: 24 }
                description: { type: string }
                priority: { type: string, enum: [critical, high, medium, low] }
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Task' }

  /tasks/{task_id}:
    parameters:
      - { name: task_id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [tasks]
      summary: タスク詳細
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::get_task
      x-screen-ids: [S-I02]
      responses:
        '200':
          description: 詳細
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Task' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    patch:
      tags: [tasks]
      summary: タスク更新
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::update_task
      x-screen-ids: [S-I02]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string, maxLength: 200 }
                description: { type: string }
                type: { type: string, enum: [foundation, screen, feature, verification, infrastructure, migration] }
                estimated_hours: { type: integer, minimum: 1, maximum: 24 }
                priority: { type: string, enum: [critical, high, medium, low] }
                lifecycle_stage: { type: string, enum: [triage, ready, in_progress, blocked, awaiting, done] }
                blocked_reason: { type: string }
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Task' }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    delete:
      tags: [tasks]
      summary: タスク削除（論理）
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::delete_task
      x-screen-ids: [S-I02]
      responses:
        '204': { description: 削除成功 }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /tasks/{task_id}/acceptance-criteria:
    get:
      tags: [tasks]
      summary: 受入条件取得
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::get_acceptance_criteria
      x-screen-ids: [S-I02]
      parameters:
        - { name: task_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 受入条件
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AcceptanceCriteria' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /tasks/{task_id}/executions:
    get:
      tags: [tasks]
      summary: タスク実行履歴
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::list_executions
      x-screen-ids: [S-I02]
      parameters:
        - { name: task_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 実行履歴
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/TaskExecution' } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /tasks/{task_id}/executions/{execution_id}:
    get:
      tags: [tasks]
      summary: タスク実行詳細・スコア
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::get_execution
      x-screen-ids: [S-I02]
      parameters:
        - { name: task_id, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: execution_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 実行詳細
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/TaskExecution' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /tasks/{id}/play:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [tasks]
      summary: タスク再生（dispatcher へ）
      x-implementation-path: apps/api/src/routes/tasks.py::play
      x-screen-ids: [S-I01]
      x-rate-limit: 10/min/user
      x-feature-ids: [F-018, F-DISP01, F-BRIDGE01]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PlayTaskRequest' }
      responses:
        '202':
          description: 再生開始 or キュー投入
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/PlayTaskResponse' }
        '409':
          description: lifecycle 違反 or 依存未完
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '503':
          description: Bridge オフライン or 並列上限
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /tasks/bulk/lifecycle:
    post:
      tags: [tasks]
      summary: タスク lifecycle 一括遷移
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::bulk_lifecycle
      x-screen-ids: [S-I01]
      x-feature-ids: [F-J02]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TaskBulkLifecycleRequest' }
      responses:
        '200':
          description: 個別の遷移結果
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/TaskBulkLifecycleResponse' }
        '401': { description: 未認証, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '422': { description: バリデーション失敗, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /tasks/{task_id}/approve:
    post:
      tags: [tasks]
      summary: タスク承認 (awaiting → done)
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::approve_task
      x-screen-ids: [S-I02]
      x-feature-ids: [F-J02]
      parameters:
        - { name: task_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TaskDecisionRequest' }
      responses:
        '200':
          description: 承認後の Task
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Task' }
        '401': { description: 未認証, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '409': { description: awaiting でない, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /tasks/{task_id}/reject:
    post:
      tags: [tasks]
      summary: タスク差戻 (awaiting → blocked)
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::reject_task
      x-screen-ids: [S-I02]
      x-feature-ids: [F-J02]
      parameters:
        - { name: task_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TaskDecisionRequest' }
      responses:
        '200':
          description: 差戻後の Task
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Task' }
        '401': { description: 未認証, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '409': { description: awaiting でない, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /tasks/{task_id}/retry:
    post:
      tags: [tasks]
      summary: タスク再試行 (blocked → ready, retry_count += 1)
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::retry_task
      x-screen-ids: [S-I01, S-I02]
      x-feature-ids: [F-J02]
      parameters:
        - { name: task_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TaskDecisionRequest' }
      responses:
        '200':
          description: 再試行準備後の Task
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Task' }
        '401': { description: 未認証, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '409': { description: blocked でない, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  # ==========================================================================
  # Hermes 互換 kanban tools (Bridge worker 専用)
  # ==========================================================================
  /kanban/complete:
    post:
      tags: [kanban-tools]
      summary: kanban_complete (Hermes 互換)
      security:
        - bridgeToken: []
      x-implementation-path: apps/api/src/routes/kanban_tools.py::complete
      x-feature-ids: [F-J02, F-DISP01]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/KanbanCompleteRequest' }
      responses:
        '200':
          description: タスク遷移完了
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      task_id: { type: string, format: uuid }
                      new_lifecycle_stage:
                        type: string
                        enum: [done, awaiting, blocked, triage]
                      approval_required: { type: boolean }
        '401':
          description: Bridge token 不正
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ==========================================================================
  # mocks (CRUD + バージョン管理)
  # ==========================================================================
  /mocks:
    get:
      tags: [mocks]
      summary: モック一覧
      x-implementation-path: apps/api/src/routes/mocks/__init__.py::list_mocks
      x-screen-ids: [S-H01]
      parameters:
        - { name: project_id, in: query, schema: { type: string, format: uuid } }
        - { name: screen_name, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 50, maximum: 200 } }
      responses:
        '200':
          description: 一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Mock' } }
    post:
      tags: [mocks]
      summary: モック作成
      x-implementation-path: apps/api/src/routes/mocks/__init__.py::create_mock
      x-screen-ids: [S-H01]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [project_id, screen_name, html_storage_path]
              properties:
                project_id: { type: string, format: uuid }
                screen_name: { type: string, maxLength: 200 }
                html_storage_path: { type: string }
                meta_tags: { type: object }
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Mock' }

  /mocks/{mock_id}:
    parameters:
      - { name: mock_id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [mocks]
      summary: モック詳細
      x-implementation-path: apps/api/src/routes/mocks/__init__.py::get_mock
      x-screen-ids: [S-H01]
      responses:
        '200':
          description: 詳細
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Mock' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    patch:
      tags: [mocks]
      summary: モック更新
      x-implementation-path: apps/api/src/routes/mocks/__init__.py::update_mock
      x-screen-ids: [S-H01]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                html_storage_path: { type: string }
                meta_tags: { type: object }
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Mock' }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    delete:
      tags: [mocks]
      summary: モック削除（論理）
      x-implementation-path: apps/api/src/routes/mocks/__init__.py::delete_mock
      x-screen-ids: [S-H01]
      responses:
        '204': { description: 削除成功 }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /mocks/{mock_id}/versions:
    parameters:
      - { name: mock_id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [mocks]
      summary: モックのバージョン履歴
      x-implementation-path: apps/api/src/routes/mocks/__init__.py::list_versions
      x-screen-ids: [S-H01]
      responses:
        '200':
          description: バージョン履歴
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Mock' } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    post:
      tags: [mocks]
      summary: モックの新バージョン作成
      x-implementation-path: apps/api/src/routes/mocks/__init__.py::create_version
      x-screen-ids: [S-H01]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [html_storage_path]
              properties:
                html_storage_path: { type: string }
                meta_tags: { type: object }
      responses:
        '201':
          description: 新バージョン作成
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Mock' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  # ==========================================================================
  # ai-employees (一覧・詳細・編集、固定 10 名)
  # ==========================================================================
  /ai-employees:
    get:
      tags: [ai-employees]
      summary: AI 社員一覧
      x-implementation-path: apps/api/src/routes/ai_employees/__init__.py::list_ai_employees
      x-screen-ids: [S-C01]
      parameters:
        - { name: workspace_id, in: query, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/AiEmployee' } }

  # NOTE: /ai-employees/templates は /ai-employees/{employee_id} より前に宣言する
  # (path 衝突回避。FastAPI も同順で登録)。
  /ai-employees/templates:
    get:
      tags: [ai-employees]
      summary: AI 社員テンプレ一覧（運営側固定 / read-only）
      x-implementation-path: apps/api/src/routes/ai_employees/__init__.py::list_templates
      x-screen-ids: [S-C01]
      parameters:
        - { name: department, in: query, schema: { type: string, enum: [executive, sales, product, architecture, design, dev_qa, cross_functional] } }
        - { name: active_only, in: query, schema: { type: boolean, default: true } }
      responses:
        '200':
          description: 一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/AiEmployeeTemplate' } }

  /ai-employees/templates/{template_id}:
    parameters:
      - { name: template_id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [ai-employees]
      summary: AI 社員テンプレ詳細
      x-implementation-path: apps/api/src/routes/ai_employees/__init__.py::get_template
      x-screen-ids: [S-C01]
      responses:
        '200':
          description: 詳細
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AiEmployeeTemplate' }
        '404': { description: 不在, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /ai-employees/{employee_id}:
    parameters:
      - { name: employee_id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [ai-employees]
      summary: AI 社員詳細
      x-implementation-path: apps/api/src/routes/ai_employees/__init__.py::get_ai_employee
      x-screen-ids: [S-C02]
      responses:
        '200':
          description: 詳細
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AiEmployee' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    patch:
      tags: [ai-employees]
      summary: AI 社員編集（display_name / icon / tone_preset / custom_tone_text）
      x-implementation-path: apps/api/src/routes/ai_employees/__init__.py::update_ai_employee
      x-screen-ids: [S-C02]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name: { type: string, maxLength: 100 }
                icon: { type: string }
                tone_preset: { type: string, enum: [polite, friendly, casual, concise, coaching] }
                custom_tone_text: { type: string, maxLength: 500 }
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AiEmployee' }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  # ==========================================================================
  # client-invitations (クライアント招待管理)
  # ==========================================================================
  /client-invitations:
    get:
      tags: [client-invitations]
      summary: クライアント招待一覧
      x-implementation-path: apps/api/src/routes/client_invitations/__init__.py::list_invitations
      x-screen-ids: [S-L01]
      parameters:
        - { name: project_id, in: query, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/ClientInvitation' } }
    post:
      tags: [client-invitations]
      summary: クライアント招待作成
      x-implementation-path: apps/api/src/routes/client_invitations/__init__.py::create_invitation
      x-screen-ids: [S-L01]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [project_id, email]
              properties:
                project_id: { type: string, format: uuid }
                email: { type: string, format: email }
                scopes: { type: array, items: { type: string } }
                client_display_name: { type: string, maxLength: 100 }
                ttl_days: { type: integer, minimum: 1, maximum: 30, default: 7 }
      responses:
        '201':
          description: 作成成功（raw token を含む）
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ClientInvitationWithToken' }

  /client-invitations/{invitation_id}:
    get:
      tags: [client-invitations]
      summary: クライアント招待詳細
      x-implementation-path: apps/api/src/routes/client_invitations/__init__.py::get_invitation
      x-screen-ids: [S-L01]
      parameters:
        - { name: invitation_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 詳細
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ClientInvitation' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /client-invitations/{invitation_id}/revoke:
    post:
      tags: [client-invitations]
      summary: クライアント招待失効
      x-implementation-path: apps/api/src/routes/client_invitations/__init__.py::revoke_invitation
      x-screen-ids: [S-L01]
      parameters:
        - { name: invitation_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 失効成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ClientInvitation' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '409': { description: 既に失効済, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  # ==========================================================================
  # workflow (工程一覧・遷移) / outputs (成果物)
  # ==========================================================================
  /workflow/phases:
    get:
      tags: [workflow]
      summary: 工程一覧
      x-implementation-path: apps/api/src/routes/workflow/__init__.py::list_phases
      x-screen-ids: [S-G01]
      parameters:
        - { name: project_id, in: query, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Phase' } }
    post:
      tags: [workflow]
      summary: 工程作成
      x-implementation-path: apps/api/src/routes/workflow/__init__.py::create_phase
      x-screen-ids: [S-G01]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [project_id, order, name]
              properties:
                project_id: { type: string, format: uuid }
                order: { type: integer, minimum: 0 }
                name: { type: string, maxLength: 200 }
                description: { type: string }
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Phase' }

  /workflow/phases/{phase_id}:
    parameters:
      - { name: phase_id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [workflow]
      summary: 工程詳細
      x-implementation-path: apps/api/src/routes/workflow/__init__.py::get_phase
      x-screen-ids: [S-G01]
      responses:
        '200':
          description: 詳細
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Phase' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    patch:
      tags: [workflow]
      summary: 工程遷移・更新
      x-implementation-path: apps/api/src/routes/workflow/__init__.py::update_phase
      x-screen-ids: [S-G01]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, maxLength: 200 }
                description: { type: string }
                status: { type: string, enum: [pending, in_progress, completed, skipped] }
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Phase' }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    delete:
      tags: [workflow]
      summary: 工程削除
      x-implementation-path: apps/api/src/routes/workflow/__init__.py::delete_phase
      x-screen-ids: [S-G01]
      responses:
        '204': { description: 削除成功 }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /outputs:
    get:
      tags: [outputs]
      summary: 成果物一覧
      x-implementation-path: apps/api/src/routes/outputs/__init__.py::list_outputs
      x-screen-ids: [S-G02]
      parameters:
        - { name: project_id, in: query, schema: { type: string, format: uuid } }
        - { name: phase_id, in: query, schema: { type: string, format: uuid } }
        - { name: stage, in: query, schema: { type: string } }
      responses:
        '200':
          description: 一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/WorkflowOutput' } }

  /outputs/{output_id}:
    get:
      tags: [outputs]
      summary: 成果物取得
      x-implementation-path: apps/api/src/routes/outputs/__init__.py::get_output
      x-screen-ids: [S-G02]
      parameters:
        - { name: output_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/WorkflowOutput' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  # ==========================================================================
  # cron スケジュール (T-A-40)
  # ==========================================================================
  /cron-schedules:
    get:
      tags: [cron-schedules]
      summary: cron スケジュール一覧
      x-implementation-path: apps/api/src/routes/cron/__init__.py::list_schedules
      x-screen-ids: []
      parameters:
        - { name: project_id, in: query, schema: { type: string, format: uuid } }
        - { name: enabled, in: query, schema: { type: boolean } }
      responses:
        '200':
          description: 一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/CronSchedule' } }
    post:
      tags: [cron-schedules]
      summary: cron スケジュール作成
      x-implementation-path: apps/api/src/routes/cron/__init__.py::create_schedule
      x-screen-ids: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [project_id, name, cron_expression, target_action]
              properties:
                project_id: { type: string, format: uuid }
                name: { type: string, minLength: 1, maxLength: 100 }
                cron_expression: { type: string, minLength: 1, maxLength: 100 }
                target_action: { type: string, enum: [task_replay, knowledge_organize, industry_extract, report_summary, daily_digest, weekly_burndown] }
                target_payload: { type: object }
                enabled: { type: boolean, default: true }
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CronSchedule' }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /cron-schedules/{schedule_id}:
    parameters:
      - { name: schedule_id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [cron-schedules]
      summary: cron スケジュール詳細
      x-implementation-path: apps/api/src/routes/cron/__init__.py::get_schedule
      x-screen-ids: []
      responses:
        '200':
          description: 詳細
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CronSchedule' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    patch:
      tags: [cron-schedules]
      summary: cron スケジュール更新
      x-implementation-path: apps/api/src/routes/cron/__init__.py::update_schedule
      x-screen-ids: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 100 }
                cron_expression: { type: string, minLength: 1, maxLength: 100 }
                target_action: { type: string, enum: [task_replay, knowledge_organize, industry_extract, report_summary, daily_digest, weekly_burndown] }
                target_payload: { type: object }
                enabled: { type: boolean }
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CronSchedule' }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    delete:
      tags: [cron-schedules]
      summary: cron スケジュール削除 (owner のみ)
      x-implementation-path: apps/api/src/routes/cron/__init__.py::delete_schedule
      x-screen-ids: []
      responses:
        '204': { description: 削除成功 }
        '403': { description: owner 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  # ==========================================================================
  # sales-docs (商談ドキュメント: 提案 / 見積 — T-A-39)
  # workflow_outputs を stage in (proposal, estimate) でフィルタした専用 API
  # ==========================================================================
  /sales-docs:
    get:
      tags: [sales-docs]
      summary: 商談ドキュメント一覧（提案 / 見積）
      x-implementation-path: apps/api/src/routes/sales_docs/__init__.py::list_sales_docs
      x-screen-ids: [S-N01]
      x-feature-ids: [F-N01]
      parameters:
        - { name: project_id, in: query, required: false, schema: { type: string, format: uuid } }
        - { name: doc_type, in: query, required: false, schema: { type: string, enum: [proposal, estimate] } }
      responses:
        '200':
          description: 商談ドキュメント一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/SalesDoc' } }
        '401': { description: 未認証, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    post:
      tags: [sales-docs]
      summary: 商談ドキュメント作成（新規ドラフト）
      x-implementation-path: apps/api/src/routes/sales_docs/__init__.py::create_sales_doc
      x-screen-ids: [S-N01]
      x-feature-ids: [F-N01]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SalesDocCreate' }
      responses:
        '201':
          description: 作成完了（version 自動採番）
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SalesDoc' }
        '401': { description: 未認証, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '422': { description: バリデーション失敗, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /sales-docs/{doc_id}:
    get:
      tags: [sales-docs]
      summary: 商談ドキュメント取得
      x-implementation-path: apps/api/src/routes/sales_docs/__init__.py::get_sales_doc
      x-screen-ids: [S-N01]
      parameters:
        - { name: doc_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SalesDoc' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    patch:
      tags: [sales-docs]
      summary: 商談ドキュメント更新
[...]
