openapi: 3.0.3
info:
  title: Atelier API
  version: 1.0.0
  description: |
    Atelier - AI 社員常駐型開発プロジェクト統合管理 SaaS の API。

    ★ API 契約凍結: 2026-05-20T13:30:00+09:00 ★
    以後の変更は ADR + 影響解析 + 承認フロー必須。

    認証 4 系統:
    - 一般 JWT (Supabase Auth)
    - クライアント別 JWT (role=client_portal, project_id クレーム限定・R-T08 対応)
    - MCP Token
    - Service Role (バックエンド内部 + Bridge worker)
  contact:
    name: ENGINE BASE
    email: info@engine-base.com
  license:
    name: Proprietary

servers:
  - url: https://atelier.app/api/v1
    description: 本番
  - url: https://*.preview.atelier.app/api/v1
    description: Preview Deploy
  - url: http://localhost:8000/api/v1
    description: ローカル開発

tags:
  - name: auth
    description: 認証・サインアップ・退会
  - name: workspaces
    description: ワークスペース管理
  - name: projects
    description: プロジェクト管理
  - name: employees
    description: AI 社員（10 名固定）
  - name: chat
    description: チャット (F-CTX01)
  - name: workflow
    description: 9 工程ワークフロー
  - name: tasks
    description: タスク管理（6 列ライフサイクル）
  - name: kanban-tools
    description: Hermes 互換 kanban tools（Bridge worker 専用）
  - name: executions
    description: 実行モニター・Bridge
  - name: approval-inbox
    description: 承認待ち
  - name: client-portal
    description: クライアント招待（別 JWT 系統）
  - name: knowledge
    description: ナレッジ管理
  - name: admin
    description: 運営（platform_admin 限定）
  - name: public
    description: 公開ページ（法令）
  - name: mcp
    description: MCP Server

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    bridgeToken:
      type: apiKey
      in: header
      name: X-Bridge-Token
    clientPortalAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # ========================================================================
    # 共通
    # ========================================================================
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, request_id]
          properties:
            code:
              type: string
              enum:
                - BAD_REQUEST
                - UNAUTHENTICATED
                - INVALID_CREDENTIALS
                - INVALID_BRIDGE_TOKEN
                - INVALID_INVITATION_TOKEN
                - FORBIDDEN
                - ACCOUNT_LOCKED
                - ACCOUNT_DELETED
                - NOT_FOUND
                - CONFLICT
                - INVALID_LIFECYCLE_STAGE
                - DEPENDENCIES_NOT_MET
                - ALREADY_DECIDED
                - EMAIL_ALREADY_REGISTERED
                - EMAIL_IN_DELETION_GRACE
                - OWNER_OF_WORKSPACE_WITH_OTHERS
                - INVITATION_EXPIRED
                - VALIDATION_ERROR
                - CONSENT_REQUIRED
                - RATE_LIMITED
                - BYOK_QUOTA_EXCEEDED
                - INTERNAL_ERROR
                - BRIDGE_OFFLINE
                - PARALLEL_LIMIT_REACHED
                - F_CTX01_TIMEOUT
            message: { type: string }
            details:
              type: array
              items:
                type: object
                properties:
                  field: { type: string }
                  code: { type: string }
                  message: { type: string }
            request_id: { type: string, format: uuid }
            trace_id: { type: string }

    PaginationMeta:
      type: object
      properties:
        next_cursor: { type: string, nullable: true }
        limit: { type: integer }
        total_estimate: { type: integer }

    # ========================================================================
    # auth
    # ========================================================================
    User:
      type: object
      required: [id, email, display_name, language, ai_learning_opt_out, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        display_name: { type: string, maxLength: 50 }
        avatar_url: { type: string, nullable: true }
        language: { type: string, enum: [ja, en] }
        ai_learning_opt_out: { type: boolean, default: true }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    SigninRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }

    AuthResponse:
      type: object
      required: [user, access_token]
      properties:
        user: { $ref: '#/components/schemas/User' }
        workspace: { $ref: '#/components/schemas/Workspace' }
        access_token: { type: string }
        refresh_token: { type: string, description: "opaque, httpOnly cookie" }

    SigninResponse:
      type: object
      required: [access_token, token_type, expires_at, user_id, email]
      properties:
        access_token: { type: string, description: "HS256 JWT (sub=user.id)" }
        token_type: { type: string, enum: [bearer] }
        expires_at: { type: string, format: date-time }
        user_id: { type: string, format: uuid }
        email: { type: string, format: email }
        display_name: { type: string, nullable: true }
        refresh_token: { type: string, nullable: true, description: "opaque refresh token (T-A-04)" }

    # T-A-03: Magic Link + OAuth
    MagicLinkRequest:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email }
        redirect_url: { type: string, maxLength: 500, nullable: true }

    MagicLinkAccepted:
      type: object
      required: [accepted, delivery]
      properties:
        accepted: { type: boolean }
        delivery: { type: string, enum: [email] }

    MagicLinkVerifyRequest:
      type: object
      required: [email, token]
      properties:
        email: { type: string, format: email }
        token: { type: string, minLength: 10, maxLength: 200 }

    OAuthRedirectResponse:
      type: object
      required: [authorize_url, state, provider]
      properties:
        authorize_url: { type: string }
        state: { type: string }
        provider: { type: string, enum: [google, github] }

    # T-A-04: Password Reset + Refresh
    PasswordResetRequest:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email }

    PasswordResetAccepted:
      type: object
      required: [accepted]
      properties:
        accepted: { type: boolean }

    PasswordResetConfirmRequest:
      type: object
      required: [email, token, new_password]
      properties:
        email: { type: string, format: email }
        token: { type: string, minLength: 10, maxLength: 200 }
        new_password: { type: string, minLength: 8, maxLength: 128 }

    PasswordResetConfirmResponse:
      type: object
      required: [user_id, email, password_changed_at]
      properties:
        user_id: { type: string, format: uuid }
        email: { type: string, format: email }
        password_changed_at: { type: string, format: date-time }

    RefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token: { type: string, minLength: 10, maxLength: 200 }

    RefreshResponse:
      type: object
      required: [access_token, token_type, expires_at, refresh_token]
      properties:
        access_token: { type: string }
        token_type: { type: string, enum: [bearer] }
        expires_at: { type: string, format: date-time }
        refresh_token: { type: string, description: "rotated new opaque token" }

    # T-A-05: 退会
    AccountDeleteRequest:
      type: object
      required: [password]
      properties:
        password: { type: string, minLength: 1, maxLength: 128 }
        reason: { type: string, maxLength: 2000, nullable: true }

    AccountDeleteResponse:
      type: object
      required: [user_id, scheduled_purge_at, deleted_at]
      properties:
        user_id: { type: string, format: uuid }
        scheduled_purge_at: { type: string, format: date-time }
        deleted_at: { type: string, format: date-time }

    AccountRestoreRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 1, maxLength: 128 }

    AccountRestoreResponse:
      type: object
      required: [user_id, restored_at]
      properties:
        user_id: { type: string, format: uuid }
        restored_at: { type: string, format: date-time }

    # T-A-45: API 契約凍結
    FreezeRequest:
      type: object
      properties:
        note: { type: string, nullable: true }

    FreezeStatus:
      type: object
      required: [frozen, total_paths, total_methods, evaluated_at]
      properties:
        frozen: { type: boolean }
        frozen_at: { type: string, format: date-time, nullable: true }
        frozen_by_user_id: { type: string, format: uuid, nullable: true }
        last_note: { type: string, nullable: true }
        total_paths: { type: integer, minimum: 0 }
        total_methods: { type: integer, minimum: 0 }
        evaluated_at: { type: string, format: date-time }

    ScreenCoverageEntry:
      type: object
      required: [screen_id, endpoint_count, endpoints]
      properties:
        screen_id: { type: string }
        endpoint_count: { type: integer, minimum: 0 }
        endpoints:
          type: array
          items: { type: string }

    ScreenCoverageReport:
      type: object
      required: [total_screens, covered_screens, uncovered_screens, coverage_pct, entries, evaluated_at]
      properties:
        total_screens: { type: integer, minimum: 0 }
        covered_screens: { type: integer, minimum: 0 }
        uncovered_screens:
          type: array
          items: { type: string }
        coverage_pct: { type: number, minimum: 0, maximum: 100 }
        entries:
          type: array
          items: { $ref: '#/components/schemas/ScreenCoverageEntry' }
        evaluated_at: { type: string, format: date-time }

    # ========================================================================
    # workspace
    # ========================================================================
    Workspace:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string, nullable: true }
        member_count: { type: integer }
        project_count: { type: integer }
        plan: { type: string, enum: [free, pro, enterprise] }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    InviteMemberRequest:
      type: object
      required: [email, role]
      properties:
        email: { type: string, format: email }
        role: { type: string, enum: [owner, member, viewer] }
        message: { type: string, maxLength: 500 }

    # ========================================================================
    # project
    # ========================================================================
    Project:
      type: object
      properties:
        id: { type: string, format: uuid }
        workspace_id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string, nullable: true }
        type: { type: string, enum: [self_product, client_project, personal] }
        status: { type: string, enum: [in_progress, draft, paused, archived] }
        ai_learning_opt_out: { type: boolean }
        current_phase:
          type: string
          enum: [hearing, requirements, architecture, design, breakdown, tasks, implementation, verification, delivery]
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ProjectCredential:
      type: object
      description: プロジェクト・シークレットの1件（plaintext / encrypted は含まない、値マスク）
      required: [id, project_id, name, kind, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        name: { type: string }
        kind: { type: string, enum: [api_key, password, token, connection_string, other] }
        last4: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CredentialCreate:
      type: object
      required: [name, value]
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
        kind: { type: string, enum: [api_key, password, token, connection_string, other] }
        value: { type: string, minLength: 1, maxLength: 10000, description: plaintext（保存時に暗号化） }

    CredentialUpdate:
      type: object
      properties:
        name: { type: string, minLength: 1, maxLength: 200, nullable: true }
        kind: { type: string, enum: [api_key, password, token, connection_string, other], nullable: true }

    CredentialReveal:
      type: object
      description: reveal 応答（権限者のみ・監査記録済の上で plaintext を返す）
      required: [id, name, value]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        value: { type: string, description: plaintext（復号済） }

    CreateProjectRequest:
      type: object
      required: [workspace_id, name, type]
      properties:
        workspace_id: { type: string, format: uuid }
        name: { type: string, maxLength: 100 }
        type: { type: string, enum: [self_product, client_project, personal] }
        description: { type: string }

    # ========================================================================
    # task
    # ========================================================================
    Task:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        phase: { type: string }
        category: { type: string }
        title: { type: string }
        description: { type: string, nullable: true }
        type: { type: string, enum: [foundation, screen, feature, verification, infrastructure, migration] }
        estimated_hours: { type: integer, minimum: 1, maximum: 24 }
        priority: { type: string, enum: [critical, high, medium, low] }
        lifecycle_stage:
          type: string
          enum: [triage, ready, in_progress, blocked, awaiting, done]
          description: Hermes 6 列モデル
        dispatch_status:
          type: string
          enum: [queued, spawning, running, completing, dead, reclaimed]
          nullable: true
        assigned_employee_id:
          type: string
          enum: [jarvis, tony, natasha, steve, peter, strange, wanda, thor, vision, tchalla]
        # Hermes 互換
        summary: { type: string, nullable: true }
        metadata: { type: object }
        blocked_reason: { type: string, nullable: true }
        retry_count: { type: integer, minimum: 0, maximum: 3 }
        worktree_path: { type: string, nullable: true }
        worker_pid: { type: integer, nullable: true }
        # 依存関係
        dependencies: { type: array, items: { type: string, format: uuid } }
        prerequisites: { type: array, items: { type: string, format: uuid } }
        blocks: { type: array, items: { type: string, format: uuid } }
        # 紐付け
        acceptance_criteria_id: { type: string, format: uuid, nullable: true }
        mock_id: { type: string, format: uuid, nullable: true }
        # 系譜
        parent_task_id: { type: string, format: uuid, nullable: true }
        origin_type:
          type: string
          enum: [initial_decomposition, refactor, scope_change_auto, manual_added]
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    AcceptanceCriteria:
      type: object
      properties:
        id: { type: string, format: uuid }
        task_id: { type: string, format: uuid }
        html_path: { type: string }
        items: { type: array, items: { type: object } }
        version: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    TaskExecution:
      type: object
      properties:
        id: { type: string, format: uuid }
        task_id: { type: string, format: uuid }
        started_at: { type: string, format: date-time }
        completed_at: { type: string, format: date-time, nullable: true }
        score: { type: number, nullable: true }
        ac_pass_rate: { type: number, nullable: true }
        test_pass_rate: { type: number, nullable: true }
        verification_score: { type: number, nullable: true }
        retry_count: { type: integer }
        status: { type: string }
        claude_code_session_id: { type: string, nullable: true }
        logs_storage_path: { type: string, nullable: true }
        error_summary: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    Mock:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        screen_name: { type: string }
        html_storage_path: { type: string }
        version: { type: integer }
        parent_mock_id: { type: string, format: uuid, nullable: true }
        meta_tags: { type: object, nullable: true }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ContentUrl:
      type: object
      required: [url]
      properties:
        url: { type: string }

    AiEmployee:
      type: object
      properties:
        id: { type: string, format: uuid }
        workspace_id: { type: string, format: uuid }
        template_id: { type: string, format: uuid, nullable: true }
        name: { type: string }
        display_name: { type: string }
        icon: { type: string, nullable: true }
        role: { type: string, enum: [coo, lead, member] }
        department: { type: string, enum: [executive, sales, product, architecture, design, dev_qa, cross_functional] }
        tone_preset: { type: string, enum: [polite, friendly, casual, concise, coaching] }
        custom_tone_text: { type: string, nullable: true }
        attached_skills: { type: array, items: { type: string, format: uuid } }
        attached_knowledge_cats: { type: array, items: { type: string } }
        is_default: { type: boolean }
        archived: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    AiEmployeeTemplate:
      type: object
      properties:
        id: { type: string, format: uuid }
        default_name: { type: string }
        default_display_name: { type: string }
        default_icon: { type: string, nullable: true }
        department: { type: string, enum: [executive, sales, product, architecture, design, dev_qa, cross_functional] }
        role: { type: string, enum: [coo, lead, member] }
        default_skills: { type: array, items: { type: string, format: uuid } }
        default_knowledge_cats: { type: array, items: { type: string } }
        system_prompt: { type: string }
        specialty: { type: string }
        version: { type: integer }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    AuditLog:
      type: object
      properties:
        id: { type: string, format: uuid }
        workspace_id: { type: string, format: uuid, nullable: true }
        actor_type: { type: string, enum: [ai, user, system, anonymous] }
        actor_id: { type: string }
        action: { type: string }
        target_type: { type: string }
        target_id: { type: string, format: uuid, nullable: true }
        before: { type: object, nullable: true }
        after: { type: object, nullable: true }
        ip_address: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    AdminSkill:
      type: object
      description: 運営 admin 向け skill 詳細 (T-A-42)。
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        version: { type: string }
        description: { type: string, nullable: true }
        content_md: { type: string }
        assets_storage_path: { type: string, nullable: true }
        allowed_employee_roles: { type: array, items: { type: string } }
        allowed_employee_ids: { type: array, items: { type: string, format: uuid } }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    SkillCreate:
      type: object
      description: スキル新規登録（SKILL.md upload, T-A-49 / F-007）。name+version unique・version semver。
      required: [name, version, content_md]
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
        version: { type: string, minLength: 1, maxLength: 64, description: 'semver (例 1.0.0)' }
        content_md: { type: string, minLength: 1 }
        description: { type: string, nullable: true }
        assets_storage_path: { type: string, nullable: true }
        allowed_employee_roles: { type: array, items: { type: string }, maxItems: 50 }
        allowed_employee_ids: { type: array, items: { type: string, format: uuid }, maxItems: 200 }
        is_active: { type: boolean, default: true }

    SkillUpdate:
      type: object
      description: スキル編集（name/version は不変。新バージョンは create で別行, T-A-49）。
      properties:
        content_md: { type: string, minLength: 1, nullable: true }
        description: { type: string, nullable: true }
        assets_storage_path: { type: string, nullable: true }
        allowed_employee_roles: { type: array, items: { type: string }, maxItems: 50, nullable: true }
        allowed_employee_ids: { type: array, items: { type: string, format: uuid }, maxItems: 200, nullable: true }
        is_active: { type: boolean, nullable: true }

    SkillAttachRequest:
      type: object
      description: AI 社員へのスキル装着 / 解除（T-A-49）。
      required: [ai_employee_id]
      properties:
        ai_employee_id: { type: string, format: uuid }
        attached: { type: boolean, default: true, description: 'true=装着 / false=解除' }

    AdminTemplate:
      type: object
      description: 運営 admin 向け AI 社員テンプレ詳細 (T-A-42)。
      properties:
        id: { type: string, format: uuid }
        default_name: { type: string }
        default_display_name: { type: string }
        default_icon: { type: string, nullable: true }
        department: { type: string }
        role: { type: string }
        default_skills: { type: array, items: { type: string, format: uuid } }
        default_knowledge_cats: { type: array, items: { type: string } }
        system_prompt: { type: string }
        specialty: { type: string }
        version: { type: integer }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    AdminDashboard:
      type: object
      description: 運営 admin dashboard 集計 (T-A-41 / admin 所属 workspaces scope)。
      properties:
        workspace_count: { type: integer }
        project_count: { type: integer }
        ai_employee_count: { type: integer }
        audit_log_count_24h: { type: integer }
        generated_at: { type: string, format: date-time }

    AdminUser:
      type: object
      description: 運営 admin 用メンバー詳細 (T-A-41 / workspace_member_details definer 経由)。
      properties:
        user_id: { type: string, format: uuid }
        email: { type: string }
        display_name: { type: string, nullable: true }
        role: { type: string }
        joined_at: { type: string, format: date-time }
        workspace_id: { type: string, format: uuid }

    ClientInvitation:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        email: { type: string, format: email }
        scopes: { type: array, items: { type: string } }
        expires_at: { type: string, format: date-time }
        used_at: { type: string, format: date-time, nullable: true }
        revoked_at: { type: string, format: date-time, nullable: true }
        client_display_name: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ClientInvitationWithToken:
      allOf:
        - { $ref: '#/components/schemas/ClientInvitation' }
        - type: object
          properties:
            token: { type: string, description: 生成時のみ返る raw token (招待 URL 用) }

    WorkspaceMember:
      type: object
      properties:
        workspace_id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        email: { type: string, format: email }
        display_name: { type: string, nullable: true }
        role: { type: string, enum: [owner, member, viewer] }
        joined_at: { type: string, format: date-time }

    ChatThread:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        ai_employee_id: { type: string, format: uuid }
        title: { type: string, nullable: true }
        archived: { type: boolean }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ChatMessage:
      type: object
      properties:
        id: { type: string, format: uuid }
        thread_id: { type: string, format: uuid }
        role: { type: string, enum: [user, assistant, system, tool] }
        content: { type: string }
        parent_message_id: { type: string, format: uuid, nullable: true }
        token_count: { type: integer, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    MessageFeedback:
      type: object
      properties:
        feedback_id: { type: string, format: uuid }
        message_id: { type: string, format: uuid }
        value: { type: string, enum: [up, down] }
        comment: { type: string, nullable: true }
        recorded_at: { type: string, format: date-time }

    Phase:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        order: { type: integer }
        name: { type: string }
        description: { type: string, nullable: true }
        status: { type: string, enum: [pending, in_progress, completed, skipped] }
        started_at: { type: string, format: date-time, nullable: true }
        completed_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    WorkflowOutput:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        phase_id: { type: string, format: uuid, nullable: true }
        stage: { type: string }
        html_path: { type: string, nullable: true }
        json_path: { type: string, nullable: true }
        md_path: { type: string, nullable: true }
        summary: { type: string, nullable: true }
        version: { type: integer }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    Comment:
      type: object
      properties:
        id: { type: string, format: uuid }
        target_type: { type: string, enum: [workflow_output, mock, task, acceptance_criteria] }
        target_id: { type: string, format: uuid }
        target_element_id: { type: string, nullable: true }
        author_user_id: { type: string, format: uuid, nullable: true }
        author_invitation_id: { type: string, format: uuid, nullable: true }
        content: { type: string }
        status: { type: string, enum: [open, resolved, deleted] }
        parent_comment_id: { type: string, format: uuid, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CronSchedule:
      type: object
      description: cron スケジュール (T-A-40)。project-scoped。Inngest 連動は別途。
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        name: { type: string }
        cron_expression: { type: string }
        target_action: { type: string, enum: [task_replay, knowledge_organize, industry_extract, report_summary, daily_digest, weekly_burndown] }
        target_payload: { type: object }
        enabled: { type: boolean }
        next_run_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    LegalDocument:
      type: object
      properties:
        id: { type: string, format: uuid }
        doc_type: { type: string, enum: [terms_of_service, privacy_policy, tokushoho] }
        version: { type: string }
        locale: { type: string }
        title: { type: string }
        body_md: { type: string }
        effective_date: { type: string, format: date }
        is_current: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    DataDeletionRequestResponse:
      type: object
      properties:
        request_id: { type: string, format: uuid }
        status: { type: string }
        requested_at: { type: string, format: date-time }

    ImpactAnalysisResponse:
      type: object
      properties:
        root_task_id: { type: string, format: uuid }
        affected_task_ids: { type: array, items: { type: string, format: uuid } }
        affected_count: { type: integer }

    PlayTaskRequest:
      type: object
      properties:
        force: { type: boolean, default: false }

    PlayTaskResponse:
      type: object
      properties:
        task_id: { type: string, format: uuid }
        lifecycle_stage: { type: string }
        dispatch_status: { type: string }
        execution_id: { type: string, format: uuid }
        worktree_path: { type: string }
        bridge_command: { type: string }
        queue_position: { type: integer, description: "並列上限超過時のキュー位置" }

    TaskBulkLifecycleRequest:
      type: object
      required: [task_ids, target_stage]
      properties:
        task_ids:
          type: array
          minItems: 1
          maxItems: 200
          items: { type: string, format: uuid }
        target_stage:
          type: string
          enum: [triage, ready, in_progress, blocked, awaiting, done]
        note: { type: string, maxLength: 2000, nullable: true }

    TaskBulkLifecycleResponse:
      type: object
      required: [requested, updated, updated_task_ids, skipped_task_ids]
      properties:
        requested: { type: integer, minimum: 0 }
        updated: { type: integer, minimum: 0 }
        updated_task_ids:
          type: array
          items: { type: string, format: uuid }
        skipped_task_ids:
          type: array
          items: { type: string, format: uuid }

    TaskDecisionRequest:
      type: object
      properties:
        note: { type: string, maxLength: 2000, nullable: true }

    SalesDocCreate:
      type: object
      required: [project_id, doc_type]
      properties:
        project_id: { type: string, format: uuid }
        doc_type: { type: string, enum: [proposal, estimate] }
        summary: { type: string, maxLength: 4000, nullable: true }
        html_path: { type: string, maxLength: 500, nullable: true }
        json_path: { type: string, maxLength: 500, nullable: true }
        md_path: { type: string, maxLength: 500, nullable: true }

    SalesDocUpdate:
      type: object
      properties:
        summary: { type: string, maxLength: 4000, nullable: true }
        html_path: { type: string, maxLength: 500, nullable: true }
        json_path: { type: string, maxLength: 500, nullable: true }
        md_path: { type: string, maxLength: 500, nullable: true }

    SalesDoc:
      type: object
      required: [id, project_id, doc_type, version, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        phase_id: { type: string, format: uuid, nullable: true }
        doc_type: { type: string, enum: [proposal, estimate] }
        html_path: { type: string, nullable: true }
        json_path: { type: string, nullable: true }
        md_path: { type: string, nullable: true }
        summary: { type: string, nullable: true }
        version: { type: integer, minimum: 1 }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    MeetingCreate:
      type: object
      required: [project_id, type, storage_path, file_name, file_size_bytes, mime_type]
      properties:
        project_id: { type: string, format: uuid }
        type: { type: string, enum: [audio, video, document] }
        storage_path: { type: string, minLength: 1, maxLength: 500 }
        file_name: { type: string, minLength: 1, maxLength: 255 }
        file_size_bytes: { type: integer, minimum: 0 }
        mime_type: { type: string, minLength: 1, maxLength: 200 }

    Meeting:
      type: object
      required:
        - id
        - project_id
        - uploaded_by_user_id
        - type
        - storage_path
        - file_name
        - file_size_bytes
        - mime_type
        - created_at
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        uploaded_by_user_id: { type: string, format: uuid }
        type: { type: string, enum: [audio, video, document] }
        storage_path: { type: string }
        file_name: { type: string }
        file_size_bytes: { type: integer }
        mime_type: { type: string }
        parsed_at: { type: string, format: date-time, nullable: true }
        parse_result_path: { type: string, nullable: true }
        parse_error: { type: string, nullable: true }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    MeetingTranscribeRequest:
      type: object
      properties:
        force: { type: boolean, default: false }

    MeetingTranscribeResponse:
      type: object
      required: [id, status, queued_at]
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [queued, already_parsed] }
        queued_at: { type: string, format: date-time }

    MeetingUploadUrlRequest:
      type: object
      required: [project_id, file_name, mime_type]
      properties:
        project_id: { type: string, format: uuid }
        file_name: { type: string, minLength: 1, maxLength: 255 }
        mime_type: { type: string, minLength: 1, maxLength: 200 }

    MeetingUploadUrlResponse:
      type: object
      required: [upload_url, storage_path, bucket]
      properties:
        upload_url: { type: string }
        storage_path: { type: string }
        bucket: { type: string }

    KnowledgeCreate:
      type: object
      required: [account_id, account_type, scope, category, title, content_md]
      properties:
        account_id: { type: string, format: uuid }
        account_type: { type: string, enum: [workspace, user, platform] }
        scope: { type: string, enum: [common, employee_specific, project] }
        visible_in_tree: { type: boolean, default: true, description: false=ツリー非表示・RAG参照のみ（運営デフォルト用） }
        category: { type: string, minLength: 1, maxLength: 100 }
        title: { type: string, minLength: 1, maxLength: 200 }
        content_md: { type: string, minLength: 1 }
        tags: { type: array, items: { type: string }, maxItems: 50 }
        owner_employee_id: { type: string, format: uuid, nullable: true }
        parent_id: { type: string, format: uuid, nullable: true, description: 構造ツリーの親ノード。null=ルート }
        source_type: { type: string, enum: [manual, ai_extracted, import, mem0], default: manual }
        source_project_id: { type: string, format: uuid, nullable: true, description: scope=project の束縛先プロジェクト }
        confidence_score: { type: number, minimum: 0, maximum: 1, default: 0.5 }
        is_anonymized: { type: boolean, default: false }

    KnowledgeUpdate:
      type: object
      properties:
        title: { type: string, minLength: 1, maxLength: 200, nullable: true }
        content_md: { type: string, minLength: 1, nullable: true }
        category: { type: string, minLength: 1, maxLength: 100, nullable: true }
        tags: { type: array, items: { type: string }, maxItems: 50, nullable: true }
        confidence_score: { type: number, minimum: 0, maximum: 1, nullable: true }
        is_anonymized: { type: boolean, nullable: true }
        parent_id: { type: string, format: uuid, nullable: true, description: '構造ツリーの親ノード（null=ルート）' }
        visible_in_tree: { type: boolean, nullable: true, description: 'ナレッジツリー表示フラグ（運営デフォルトは false で非表示）' }

    AdminKnowledgeCreate:
      type: object
      description: 運営デフォルト(platform)ナレッジ作成（T-A-50 / F-023）。account_type/account_id は server 側で固定。
      required: [category, title, content_md]
      properties:
        category: { type: string, minLength: 1, maxLength: 100 }
        title: { type: string, minLength: 1, maxLength: 200 }
        content_md: { type: string, minLength: 1 }
        tags: { type: array, items: { type: string }, maxItems: 50 }
        parent_id: { type: string, format: uuid, nullable: true }
        visible_in_tree: { type: boolean, default: false, description: '運営デフォルトは既定でツリー非表示（RAG 横断参照のみ）' }
        confidence_score: { type: number, minimum: 0, maximum: 1, default: 0.5 }

    Knowledge:
      type: object
      required:
        - id
        - account_id
        - account_type
        - scope
        - category
        - title
        - content_md
        - tags
        - source_type
        - confidence_score
        - usage_count
        - is_anonymized
        - created_at
        - updated_at
      properties:
        id: { type: string, format: uuid }
        account_id: { type: string, format: uuid }
        account_type: { type: string, enum: [workspace, user, platform] }
        scope: { type: string, enum: [common, employee_specific, project] }
        owner_employee_id: { type: string, format: uuid, nullable: true }
        parent_id: { type: string, format: uuid, nullable: true, description: 構造ツリーの親ノード。null=ルート }
        visible_in_tree: { type: boolean, description: false=ツリー非表示・RAG参照のみ（運営デフォルト用） }
        category: { type: string }
        title: { type: string }
        content_md: { type: string }
        tags: { type: array, items: { type: string } }
        source_type: { type: string }
        source_project_id: { type: string, format: uuid, nullable: true }
        confidence_score: { type: number }
        usage_count: { type: integer }
        is_anonymized: { type: boolean }
        approved_by_user_id: { type: string, format: uuid, nullable: true }
        deleted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    KnowledgeSearchRequest:
      type: object
      required: [query]
      properties:
        query: { type: string, minLength: 1 }
        limit: { type: integer, minimum: 1, maximum: 50, default: 10 }
        account_id: { type: string, format: uuid, nullable: true }

    KnowledgeSearchHit:
      type: object
      required: [knowledge, score]
      properties:
        knowledge: { $ref: '#/components/schemas/Knowledge' }
        score: { type: number, description: "cosine similarity (0..1)" }

    KnowledgeSearchResponse:
      type: object
      required: [query, hits, total]
      properties:
        query: { type: string }
        hits: { type: array, items: { $ref: '#/components/schemas/KnowledgeSearchHit' } }
        total: { type: integer }

    KnowledgePromoteRequest:
      type: object
      required: [target_workspace_id]
      properties:
        target_workspace_id: { type: string, format: uuid }
        confidence_score: { type: number, minimum: 0, maximum: 1, nullable: true }

    KnowledgePatternRequest:
      type: object
      properties:
        account_id: { type: string, format: uuid, nullable: true }
        category: { type: string, nullable: true }
        min_occurrences: { type: integer, minimum: 2, maximum: 100, default: 2 }
        limit: { type: integer, minimum: 1, maximum: 200, default: 20 }

    KnowledgePattern:
      type: object
      required: [pattern_tags, occurrence_count, representative_ids, avg_confidence]
      properties:
        pattern_tags:
          type: array
          items: { type: string }
        occurrence_count: { type: integer, minimum: 2 }
        representative_ids:
          type: array
          items: { type: string, format: uuid }
        avg_confidence: { type: number, minimum: 0, maximum: 1 }

    KnowledgePatternResponse:
      type: object
      required: [total, patterns]
      properties:
        total: { type: integer, minimum: 0 }
        patterns: { type: array, items: { $ref: '#/components/schemas/KnowledgePattern' } }

    Execution:
      type: object
      required:
        - id
        - task_id
        - task_title
        - project_id
        - started_at
        - status
        - retry_count
        - created_at
      properties:
        id: { type: string, format: uuid }
        task_id: { type: string, format: uuid }
        task_title: { type: string }
        project_id: { type: string, format: uuid }
        started_at: { type: string, format: date-time }
        completed_at: { type: string, format: date-time, nullable: true }
        duration_seconds: { type: number, nullable: true }
        status: { type: string, enum: [running, succeeded, failed, cancelled, timeout] }
        score: { type: number, nullable: true }
        ac_pass_rate: { type: number, nullable: true }
        test_pass_rate: { type: number, nullable: true }
        verification_score: { type: number, nullable: true }
        retry_count: { type: integer }
        claude_code_session_id: { type: string, nullable: true }
        logs_storage_path: { type: string, nullable: true }
        error_summary: { type: string, nullable: true }
        worker_pid: { type: integer, nullable: true }
        dispatch_status: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    BridgeStatus:
      type: object
      required:
        - running_count
        - queued_count
        - completing_count
        - spawning_count
        - dead_count_24h
        - parallel_limit
        - available_slots
        - active_worker_pids
        - evaluated_at
      properties:
        running_count: { type: integer, minimum: 0 }
        queued_count: { type: integer, minimum: 0 }
        completing_count: { type: integer, minimum: 0 }
        spawning_count: { type: integer, minimum: 0 }
        dead_count_24h: { type: integer, minimum: 0 }
        parallel_limit: { type: integer, minimum: 1 }
        available_slots: { type: integer, minimum: 0 }
        oldest_running_started_at: { type: string, format: date-time, nullable: true }
        active_worker_pids:
          type: array
          items: { type: integer }
        evaluated_at: { type: string, format: date-time }

    ExecLogMeta:
      type: object
      required: [execution_id, task_id, status, started_at, retry_count]
      properties:
        execution_id: { type: string, format: uuid }
        task_id: { type: string, format: uuid }
        status: { type: string, enum: [running, succeeded, failed, cancelled, timeout] }
        started_at: { type: string, format: date-time }
        completed_at: { type: string, format: date-time, nullable: true }
        logs_storage_path: { type: string, nullable: true }
        error_summary: { type: string, nullable: true }
        retry_count: { type: integer, minimum: 0 }

    ExecLogEvent:
      type: object
      required: [type, execution_id, timestamp]
      properties:
        type: { type: string, enum: [snapshot, status_change, end, error] }
        execution_id: { type: string, format: uuid }
        status: { type: string, nullable: true }
        completed_at: { type: string, format: date-time, nullable: true }
        error_summary: { type: string, nullable: true }
        logs_storage_path: { type: string, nullable: true }
        timestamp: { type: string, format: date-time }

    ConsentEntry:
      type: object
      required: [type, version, accepted]
      properties:
        type:
          type: string
          enum: [terms_of_service, privacy_policy, data_residency, ai_training_optin]
        version: { type: string, minLength: 1, maxLength: 50 }
        accepted: { type: boolean }

    SignupRequest:
      type: object
      required: [email, password, display_name, consents]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 8, maxLength: 128 }
        display_name: { type: string, minLength: 1, maxLength: 100 }
        consents:
          type: array
          minItems: 2
          maxItems: 4
          items: { $ref: '#/components/schemas/ConsentEntry' }

    SignupResponse:
      type: object
      required: [user_id, email, display_name, consents_recorded, created_at]
      properties:
        user_id: { type: string, format: uuid }
        email: { type: string, format: email }
        display_name: { type: string }
        consents_recorded: { type: integer, minimum: 2, maximum: 4 }
        created_at: { type: string, format: date-time }

    ChatStreamRequest:
      type: object
      required: [user_message]
      properties:
        user_message: { type: string, minLength: 1, maxLength: 20000 }
        use_knowledge_rag: { type: boolean, default: true }
        include_history: { type: integer, minimum: 0, maximum: 50, default: 10 }
        rag_account_id: { type: string, format: uuid, nullable: true }

    ChatContextPreviewRequest:
      type: object
      required: [user_message]
      properties:
        user_message: { type: string, minLength: 1, maxLength: 20000 }
        include_history: { type: integer, minimum: 0, maximum: 50, default: 10 }
        rag_account_id: { type: string, format: uuid, nullable: true }

    ChatContextPreviewResponse:
      type: object
      required: [system_prompt, history_count, rag_hit_ids]
      properties:
        system_prompt: { type: string }
        history_count: { type: integer, minimum: 0 }
        rag_hit_ids:
          type: array
          items: { type: string, format: uuid }

    CircuitBreakerState:
      type: object
      required: [state, failure_rate, total_executions, failed_executions, window_minutes, threshold, evaluated_at]
      properties:
        state: { type: string, enum: [closed, open, half_open] }
        failure_rate: { type: number, minimum: 0, maximum: 1 }
        total_executions: { type: integer, minimum: 0 }
        failed_executions: { type: integer, minimum: 0 }
        window_minutes: { type: integer, minimum: 1, maximum: 60 }
        threshold: { type: number, minimum: 0, maximum: 1 }
        next_retry_at: { type: string, format: date-time, nullable: true }
        evaluated_at: { type: string, format: date-time }

    CircuitResetRequest:
      type: object
      required: [reason]
      properties:
        reason: { type: string, minLength: 1, maxLength: 2000 }

    PidPollRequest:
      type: object
      properties:
        heartbeat_threshold_seconds: { type: integer, minimum: 10, maximum: 600, default: 60 }
        dry_run: { type: boolean, default: false }

    PidPollResult:
      type: object
      required: [task_id, action]
      properties:
        task_id: { type: string, format: uuid }
        worker_pid: { type: integer, nullable: true }
        last_heartbeat_at: { type: string, format: date-time, nullable: true }
        action: { type: string, enum: [reclaimed, dry_run_would_reclaim] }

    PidPollResponse:
      type: object
      required: [polled_at, threshold_seconds, stale_task_count, results]
      properties:
        polled_at: { type: string, format: date-time }
        threshold_seconds: { type: integer }
        stale_task_count: { type: integer, minimum: 0 }
        results: { type: array, items: { $ref: '#/components/schemas/PidPollResult' } }

    # ========================================================================
    # Hermes 互換
    # ========================================================================
    KanbanCompleteRequest:
      type: object
      required: [task_id, summary, metadata]
      properties:
        task_id: { type: string, format: uuid }
        summary: { type: string }
        metadata:
          type: object
          required: [score, ac_pass_rate, test_pass_rate, verification_score, retry_count]
          properties:
            score: { type: number, minimum: 0, maximum: 1 }
            ac_pass_rate: { type: number }
            test_pass_rate: { type: number }
            verification_score: { type: number }
            files_changed: { type: array, items: { type: string } }
            retry_count: { type: integer }

    KanbanCompleteMetadata:
      type: object
      required: [score, ac_pass_rate, test_pass_rate, verification_score]
      properties:
        score: { type: number, minimum: 0, maximum: 1 }
        ac_pass_rate: { type: number, minimum: 0, maximum: 1 }
        test_pass_rate: { type: number, minimum: 0, maximum: 1 }
        verification_score: { type: number, minimum: 0, maximum: 1 }
        retry_count: { type: integer, minimum: 0, maximum: 3, default: 0 }
        files_changed:
          type: array
          items: { type: string }
          maxItems: 500

    KanbanCompleteRequestV2:
      type: object
      required: [task_id, execution_id, summary, metadata]
      properties:
        task_id: { type: string, format: uuid }
        execution_id: { type: string, format: uuid }
        summary: { type: string, minLength: 1, maxLength: 4000 }
        metadata: { $ref: '#/components/schemas/KanbanCompleteMetadata' }
        auto_approve: { type: boolean, default: false }

    KanbanPickRequest:
      type: object
      required: [worker_pid]
      properties:
        worker_pid: { type: integer, minimum: 1 }
        project_id: { type: string, format: uuid, nullable: true }

    KanbanPickResponse:
      type: object
      required: [no_available_task]
      properties:
        task_id: { type: string, format: uuid, nullable: true }
        execution_id: { type: string, format: uuid, nullable: true }
        worktree_path: { type: string, nullable: true }
        no_available_task: { type: boolean }

    KanbanStartRequest:
      type: object
      required: [task_id, execution_id, worker_pid]
      properties:
        task_id: { type: string, format: uuid }
        execution_id: { type: string, format: uuid }
        worker_pid: { type: integer, minimum: 1 }
        claude_code_session_id: { type: string, maxLength: 200, nullable: true }

    KanbanRequestReviewRequest:
      type: object
      required: [task_id, execution_id]
      properties:
        task_id: { type: string, format: uuid }
        execution_id: { type: string, format: uuid }
        note: { type: string, maxLength: 2000, nullable: true }

    KanbanRequestChangeRequest:
      type: object
      required: [task_id, execution_id, reason]
      properties:
        task_id: { type: string, format: uuid }
        execution_id: { type: string, format: uuid }
        reason: { type: string, minLength: 1, maxLength: 2000 }

    KanbanHeartbeatRequest:
      type: object
      required: [task_id, worker_pid]
      properties:
        task_id: { type: string, format: uuid }
        worker_pid: { type: integer, minimum: 1 }

    KanbanKillRequest:
      type: object
      required: [task_id, reason]
      properties:
        task_id: { type: string, format: uuid }
        execution_id: { type: string, format: uuid, nullable: true }
        reason: { type: string, minLength: 1, maxLength: 2000 }

    KanbanResponse:
      type: object
      required: [task_id, lifecycle_stage, action]
      properties:
        task_id: { type: string, format: uuid }
        lifecycle_stage: { type: string }
        dispatch_status: { type: string, nullable: true }
        execution_status: { type: string, nullable: true }
        action:
          type: string
          enum: [picked, started, completed, review_requested, change_requested, heartbeat_ack, killed]

    # ========================================================================
    # MCP トークン管理 (T-A-08)
    # ========================================================================
    McpToken:
      type: object
      properties:
        id: { type: string, format: uuid }
        workspace_id: { type: string, format: uuid }
        name: { type: string }
        scopes: { type: array, items: { type: string } }
        expires_at: { type: string, format: date-time, nullable: true }
        revoked_at: { type: string, format: date-time, nullable: true }
        last_used_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    McpTokenCreateResponse:
      allOf:
        - $ref: '#/components/schemas/McpToken'
        - type: object
          required: [token]
          properties:
            token:
              type: string
              description: "plaintext token (作成直後の 1 度のみ返す。以降は再表示不可)"

    # ========================================================================
    # BYOK API キー (T-A-09)
    # ========================================================================
    ByokKey:
      type: object
      description: BYOK (Bring Your Own Key) API キー。plaintext / encrypted_key は応答に含めない。
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        provider: { type: string, enum: [claude, openai, gemini] }
        label: { type: string, nullable: true }
        is_active: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    # ========================================================================
    # 承認待ち
    # ========================================================================
    ApprovalInboxEntry:
      type: object
      description: 承認待ちインボックスエントリ (E-? approval_inbox)。本人のみ可視 (RLS user_id=auth.uid())。
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        type:
          type: string
          enum: [task_approval, phase_approval, knowledge_write, comment_response, scope_change]
        target_type: { type: string }
        target_id: { type: string, format: uuid }
        title: { type: string }
        payload: { type: object }
        status: { type: string, enum: [pending, approved, rejected] }
        resolved_at: { type: string, format: date-time, nullable: true }
        resolution_note: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ApprovalDecideRequest:
      type: object
      required: [decision]
      properties:
        decision: { type: string, enum: [approve, reject] }
        note: { type: string, maxLength: 2000 }

    # ========================================================================
    # クライアント招待 (R-T08)
    # ========================================================================
    ClientSigninRequest:
      type: object
      required: [invitation_token]
      properties:
        invitation_token: { type: string, minLength: 10, maxLength: 200 }
        display_name: { type: string, maxLength: 100, nullable: true }

    ClientProjectRef:
      type: object
      required: [id, name]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }

    ClientSigninResponse:
      type: object
      required: [client_access_token, token_type, expires_at, project, scopes]
      properties:
        client_access_token: { type: string, description: "client_portal HS256 JWT (project_id 限定)" }
        token_type: { type: string, enum: [bearer] }
        expires_at: { type: string, format: date-time }
        project: { $ref: '#/components/schemas/ClientProjectRef' }
        scopes:
          type: array
          items: { type: string }

    ClientProjectView:
      type: object
      required: [id, name, scopes]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string, nullable: true }
        scopes:
          type: array
          items: { type: string }
        viewed_as_client_display_name: { type: string, nullable: true }

paths:
  # ==========================================================================
  # auth (T-A-01〜05: signup / signin / Magic Link / リセット / 退会)
  # ==========================================================================
  /auth/signup:
    post:
      tags: [auth]
      summary: ユーザー登録 + 同意取得（F-001 / F-LEGAL-004）
      x-implementation-path: apps/api/src/routes/auth/__init__.py::signup
      x-screen-ids: [S-A01]
      x-feature-ids: [F-001, F-LEGAL-004]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SignupRequest' }
      responses:
        '201':
          description: 登録成功（JWT は含まない、signin で発行）
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SignupResponse' }
        '409': { description: email 重複, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '422': { description: バリデーション失敗 / 必須 consent 不足, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  # ==========================================================================
  # impact (F-IMP01 影響範囲解析 / NetworkX)
  # ==========================================================================
  /impact/tasks/{task_id}:
    get:
      tags: [impact]
      summary: タスク影響範囲解析（下流 task 群 / read-only）
      x-implementation-path: apps/api/src/routes/impact/__init__.py::analyze_task_impact
      x-screen-ids: []
      parameters:
        - { name: task_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 解析結果
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ImpactAnalysisResponse' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  # ==========================================================================
  # public (法令ページ + データ削除請求 / 未認証アクセス可)
  # ==========================================================================
  /public/legal-documents:
    get:
      tags: [public]
      summary: 法令ページ一覧（公開・未認証可）
      x-implementation-path: apps/api/src/routes/public/__init__.py::list_legal_documents
      x-screen-ids: [S-PUB01, S-PUB02, S-PUB03]
      parameters:
        - { name: locale, in: query, schema: { type: string } }
      responses:
        '200':
          description: 一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/LegalDocument' } }

  /public/legal-documents/{doc_type}:
    get:
      tags: [public]
      summary: 法令ページ取得（公開・未認証可）
      x-implementation-path: apps/api/src/routes/public/__init__.py::get_legal_document
      x-screen-ids: [S-PUB01, S-PUB02, S-PUB03]
      parameters:
        - { name: doc_type, in: path, required: true, schema: { type: string, enum: [terms_of_service, privacy_policy, tokushoho] } }
        - { name: locale, in: query, schema: { type: string, default: ja } }
      responses:
        '200':
          description: 取得
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/LegalDocument' }
        '404': { description: 不在, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /public/data-deletion-requests:
    post:
      tags: [public]
      summary: データ削除請求（本人・要認証 / F-LEGAL-002）
      x-implementation-path: apps/api/src/routes/public/__init__.py::create_data_deletion_request
      x-screen-ids: [S-PUB04]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string, maxLength: 2000 }
      responses:
        '201':
          description: 受付
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/DataDeletionRequestResponse' }
        '401': { description: 未認証, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  # ==========================================================================
  # auth (11 endpoints)
  # ==========================================================================
  /auth/signin:
    post:
      tags: [auth]
      summary: ログイン + 5 回失敗ロック (F-001)
      security: []
      x-implementation-path: apps/api/src/routes/auth/__init__.py::signin
      x-screen-ids: [S-A01]
      x-rate-limit: 5/min/ip
      x-feature-ids: [F-001]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SigninRequest' }
      responses:
        '200':
          description: サインイン成功 (HS256 JWT 発行)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SigninResponse' }
        '401':
          description: 認証情報不正
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429':
          description: 5 回失敗で一時ロック or レート上限
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/magic-link/request:
    post:
      tags: [auth]
      summary: Magic Link 送信要求 (常に 202 / enumeration 防止)
      security: []
      x-implementation-path: apps/api/src/routes/auth/__init__.py::magic_link_request
      x-screen-ids: [S-A01]
      x-feature-ids: [F-001]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MagicLinkRequest' }
      responses:
        '202':
          description: 受付 (email 存在に依らず 202)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/MagicLinkAccepted' }

  /auth/magic-link/verify:
    post:
      tags: [auth]
      summary: Magic Link 検証 → JWT 発行 (refresh token 同時)
      security: []
      x-implementation-path: apps/api/src/routes/auth/__init__.py::magic_link_verify
      x-screen-ids: [S-A01]
      x-feature-ids: [F-001]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MagicLinkVerifyRequest' }
      responses:
        '200':
          description: 成功 (SigninResponse)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SigninResponse' }
        '401':
          description: token 無効 / 期限切れ / 既消費
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/oauth/{provider}/redirect-url:
    get:
      tags: [auth]
      summary: OAuth Provider 認可 URL 取得 (CSRF state 含む)
      security: []
      x-implementation-path: apps/api/src/routes/auth/__init__.py::oauth_redirect
      x-screen-ids: [S-A01]
      x-feature-ids: [F-001]
      parameters:
        - { name: provider, in: path, required: true, schema: { type: string, enum: [google, github] } }
      responses:
        '200':
          description: 認可 URL + state
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/OAuthRedirectResponse' }
        '422':
          description: provider 不正
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/password-reset/request:
    post:
      tags: [auth]
      summary: パスワードリセット要求 (常に 202)
      security: []
      x-implementation-path: apps/api/src/routes/auth/__init__.py::password_reset_request
      x-screen-ids: [S-A01]
      x-feature-ids: [F-001]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PasswordResetRequest' }
      responses:
        '202':
          description: 受付
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/PasswordResetAccepted' }

  /auth/password-reset/confirm:
    post:
      tags: [auth]
      summary: パスワードリセット確定 (旧 refresh token 一括失効)
      security: []
      x-implementation-path: apps/api/src/routes/auth/__init__.py::password_reset_confirm
      x-screen-ids: [S-A01]
      x-feature-ids: [F-001]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PasswordResetConfirmRequest' }
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/PasswordResetConfirmResponse' }
        '401':
          description: token 不正 / 期限切れ
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/refresh:
    post:
      tags: [auth]
      summary: access_token 再発行 (refresh token rotate)
      security: []
      x-implementation-path: apps/api/src/routes/auth/__init__.py::auth_refresh
      x-feature-ids: [F-001]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RefreshRequest' }
      responses:
        '200':
          description: rotate 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/RefreshResponse' }
        '401':
          description: refresh token 不正 / 期限切れ / 失効済
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/account/delete:
    post:
      tags: [auth]
      summary: 退会 (30 日猶予で soft-delete, F-LEGAL-002)
      x-implementation-path: apps/api/src/routes/auth/__init__.py::account_delete
      x-screen-ids: [S-A03]
      x-feature-ids: [F-001, F-LEGAL-002]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AccountDeleteRequest' }
      responses:
        '200':
          description: 退会受付 (30 日後にハード削除予定)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AccountDeleteResponse' }
        '401':
          description: password 不一致 or 未認証
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: 既に退会済 / 削除不能
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/account/restore:
    post:
      tags: [auth]
      summary: 退会キャンセル (30 日猶予期間中の復活)
      security: []
      x-implementation-path: apps/api/src/routes/auth/__init__.py::account_restore
      x-screen-ids: [S-A03]
      x-feature-ids: [F-001, F-LEGAL-002]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AccountRestoreRequest' }
      responses:
        '200':
          description: 復活成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AccountRestoreResponse' }
        '401':
          description: password 不一致
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: 退会記録なし
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '410':
          description: 30 日猶予期間切れ (ハード削除予定 / 既削除)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ==========================================================================
  # contract (T-A-45 API 契約凍結 + screen coverage 検証)
  # ==========================================================================
  /contract/screen-coverage:
    get:
      tags: [contract]
      summary: screen × OpenAPI カバレッジレポート (Gate #9 と同条件)
      x-implementation-path: apps/api/src/routes/contract/__init__.py::screen_coverage
      x-screen-ids: [S-T05]
      responses:
        '200':
          description: カバレッジ詳細
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ScreenCoverageReport' }
        '401':
          description: 未認証
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /contract/freeze-status:
    get:
      tags: [contract]
      summary: API 契約凍結状態
      x-implementation-path: apps/api/src/routes/contract/__init__.py::freeze_status
      x-screen-ids: [S-T05]
      responses:
        '200':
          description: 状態
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/FreezeStatus' }
        '401':
          description: 未認証
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /contract/freeze:
    post:
      tags: [contract]
      summary: API 契約凍結 (admin, screen coverage 100% 必須)
      x-implementation-path: apps/api/src/routes/contract/__init__.py::freeze
      x-screen-ids: [S-T05]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FreezeRequest' }
      responses:
        '200':
          description: 凍結完了
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/FreezeStatus' }
        '401':
          description: 未認証
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: admin 権限なし
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: 既に凍結済
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '412':
          description: screen coverage 100% 未満
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /contract/unfreeze:
    post:
      tags: [contract]
      summary: API 契約凍結解除 (admin)
      x-implementation-path: apps/api/src/routes/contract/__init__.py::unfreeze
      x-screen-ids: [S-T05]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FreezeRequest' }
      responses:
        '200':
          description: 凍結解除完了
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/FreezeStatus' }
        '401':
          description: 未認証
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: admin 権限なし
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: 凍結状態にない
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ==========================================================================
  # workspaces (9 endpoints) - 1 つだけ完全定義、残りは構造同様
  # ==========================================================================
  /workspaces:
    get:
      tags: [workspaces]
      summary: 所属 WS 一覧
      x-implementation-path: apps/api/src/routes/workspaces.py::list
      x-screen-ids: [S-B01]
      responses:
        '200':
          description: WS 一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Workspace' }
    post:
      tags: [workspaces]
      summary: 新規 WS 作成
      x-implementation-path: apps/api/src/routes/workspaces.py::create
      x-screen-ids: [S-A03]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 100 }
                description: { type: string }
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Workspace' }

  /workspaces/{workspace_id}:
    get:
      tags: [workspaces]
      summary: WS 詳細
      x-implementation-path: apps/api/src/routes/workspaces/__init__.py::get_workspace
      x-screen-ids: [S-B01]
      parameters:
        - { name: workspace_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: WS 詳細
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Workspace' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    patch:
      tags: [workspaces]
      summary: WS 更新
      x-implementation-path: apps/api/src/routes/workspaces/__init__.py::update_workspace
      x-screen-ids: [S-A03]
      parameters:
        - { name: workspace_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 2, maxLength: 50 }
                description: { type: string }
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Workspace' }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    delete:
      tags: [workspaces]
      summary: WS 削除（論理）
      x-implementation-path: apps/api/src/routes/workspaces/__init__.py::delete_workspace
      x-screen-ids: [S-A03]
      parameters:
        - { name: workspace_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '204': { description: 削除成功 }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  # ==========================================================================
  # workspace-members (招待・ロール・削除)
  # ==========================================================================
  /workspaces/{workspace_id}/members:
    parameters:
      - { name: workspace_id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [workspace-members]
      summary: WS メンバー一覧
      x-implementation-path: apps/api/src/routes/workspace_members/__init__.py::list_members
      x-screen-ids: [S-A03]
      responses:
        '200':
          description: メンバー一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/WorkspaceMember' } }
    post:
      tags: [workspace-members]
      summary: WS メンバー招待
      x-implementation-path: apps/api/src/routes/workspace_members/__init__.py::invite_member
      x-screen-ids: [S-A03]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InviteMemberRequest' }
      responses:
        '201':
          description: 招待成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/WorkspaceMember' }
        '403': { description: owner でない, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '409': { description: 既にメンバー, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '422': { description: メール未登録, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /workspaces/{workspace_id}/members/{user_id}:
    parameters:
      - { name: workspace_id, in: path, required: true, schema: { type: string, format: uuid } }
      - { name: user_id, in: path, required: true, schema: { type: string, format: uuid } }
    patch:
      tags: [workspace-members]
      summary: WS メンバーのロール変更
      x-implementation-path: apps/api/src/routes/workspace_members/__init__.py::update_role
      x-screen-ids: [S-A03]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role: { type: string, enum: [owner, member, viewer] }
      responses:
        '200':
          description: 変更成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/WorkspaceMember' }
        '403': { description: 不在 or 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    delete:
      tags: [workspace-members]
      summary: WS メンバー削除
      x-implementation-path: apps/api/src/routes/workspace_members/__init__.py::remove_member
      x-screen-ids: [S-A03]
      responses:
        '204': { description: 削除成功 }
        '403': { description: 不在 or 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  # ==========================================================================
  # projects (8 endpoints) - 主要 3 つ
  # ==========================================================================
  /projects:
    get:
      tags: [projects]
      summary: プロジェクト一覧（カーソル）
      x-implementation-path: apps/api/src/routes/projects.py::list
      x-screen-ids: [S-B01]
      parameters:
        - in: query
          name: workspace_id
          schema: { type: string, format: uuid }
        - in: query
          name: status
          schema: { type: string }
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, default: 20, maximum: 100 }
        - in: query
          name: include_deleted
          description: true で論理削除済 (ゴミ箱) も含める (T-A-12)
          schema: { type: boolean, default: false }
      responses:
        '200':
          description: 一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Project' }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }
    post:
      tags: [projects]
      summary: 新規プロジェクト
      x-implementation-path: apps/api/src/routes/projects.py::create
      x-screen-ids: [S-B01]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateProjectRequest' }
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Project' }

  /projects/{project_id}:
    get:
      tags: [projects]
      summary: プロジェクト詳細
      x-implementation-path: apps/api/src/routes/projects/__init__.py::get_project
      x-screen-ids: [S-B02, S-B03]
      parameters:
        - { name: project_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 詳細
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Project' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    patch:
      tags: [projects]
      summary: プロジェクト更新
      x-implementation-path: apps/api/src/routes/projects/__init__.py::update_project
      x-screen-ids: [S-B02, S-B03]
      parameters:
        - { name: project_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 200 }
                description: { type: string }
                status: { type: string, enum: [in_progress, draft, paused, archived] }
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Project' }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    delete:
      tags: [projects]
      summary: プロジェクト削除（論理）
      x-implementation-path: apps/api/src/routes/projects/__init__.py::delete_project
      x-screen-ids: [S-B02]
      parameters:
        - { name: project_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '204': { description: 削除成功 }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /projects/{project_id}/restore:
    post:
      tags: [projects]
      summary: プロジェクト復元（論理削除を取消 / 30 日猶予内）
      x-implementation-path: apps/api/src/routes/projects/__init__.py::restore_project
      x-screen-ids: [S-B02]
      parameters:
        - { name: project_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 復元成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Project' }
        '404': { description: 不在 / 未削除 / 猶予超過, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /projects/{project_id}/dashboard:
    parameters:
      - in: path
        name: project_id
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [projects]
      summary: プロジェクト KPI ダッシュボード
      x-implementation-path: apps/api/src/routes/projects/__init__.py::project_dashboard
      x-screen-ids: [S-B02]
      responses:
        '200':
          description: ダッシュボード
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: object }

  /projects/{project_id}/ai-learning:
    post:
      tags: [projects]
      summary: プロジェクト単位 AI 学習 OFF (F-LEGAL-011)
      x-implementation-path: apps/api/src/routes/projects/__init__.py::set_project_ai_learning
      x-screen-ids: [S-B02]
      parameters:
        - { name: project_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [opt_out]
              properties:
                opt_out: { type: boolean }
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Project' }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /projects/{project_id}/credentials:
    parameters:
      - { name: project_id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [project-credentials]
      summary: プロジェクト・シークレット一覧（値マスク。member のみ）
      x-implementation-path: apps/api/src/routes/project_credentials/__init__.py::list_credentials
      x-screen-ids: [S-B04]
      responses:
        '200':
          description: 一覧成功（plaintext を含まない）
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ProjectCredential' }
        '401': { description: 未認証, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    post:
      tags: [project-credentials]
      summary: シークレットに登録（plaintext を暗号化保存、応答に含めない）
      x-implementation-path: apps/api/src/routes/project_credentials/__init__.py::create_credential
      x-screen-ids: [S-B04]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CredentialCreate' }
      responses:
        '201':
          description: 登録成功（plaintext を含まない）
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ProjectCredential' }
        '401': { description: 未認証, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /projects/{project_id}/credentials/{credential_id}:
    parameters:
      - { name: project_id, in: path, required: true, schema: { type: string, format: uuid } }
      - { name: credential_id, in: path, required: true, schema: { type: string, format: uuid } }
    patch:
      tags: [project-credentials]
      summary: シークレットの name / kind 更新（value は変えない）
      x-implementation-path: apps/api/src/routes/project_credentials/__init__.py::update_credential
      x-screen-ids: [S-B04]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CredentialUpdate' }
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ProjectCredential' }
        '401': { description: 未認証, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    delete:
      tags: [project-credentials]
      summary: シークレットから削除（soft delete。owner のみ）
      x-implementation-path: apps/api/src/routes/project_credentials/__init__.py::delete_credential
      x-screen-ids: [S-B04]
      responses:
        '204': { description: 削除成功 }
        '401': { description: 未認証, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /projects/{project_id}/credentials/{credential_id}/reveal:
    parameters:
      - { name: project_id, in: path, required: true, schema: { type: string, format: uuid } }
      - { name: credential_id, in: path, required: true, schema: { type: string, format: uuid } }
    post:
      tags: [project-credentials]
      summary: シークレットの値を復号して 1 度返す（権限者のみ・監査記録）
      x-implementation-path: apps/api/src/routes/project_credentials/__init__.py::reveal_credential
      x-screen-ids: [S-B04]
      responses:
        '200':
          description: 復号成功（plaintext を返す。監査記録済）
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CredentialReveal' }
        '401': { description: 未認証, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /account/ai-learning:
    post:
      tags: [projects]
      summary: アカウント単位 AI 学習 OFF (F-LEGAL-011)
      x-implementation-path: apps/api/src/routes/projects/__init__.py::set_account_ai_learning
      x-screen-ids: [S-A04]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [opt_out]
              properties:
                opt_out: { type: boolean }
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user_id: { type: string, format: uuid }
                      ai_learning_opt_out: { type: boolean }

  # ==========================================================================
  # tasks + execution (主要 endpoint)
  # ==========================================================================
  /tasks:
    get:
      tags: [tasks]
      summary: タスク一覧
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::list_tasks
      x-screen-ids: [S-I01]
      parameters:
        - { name: project_id, in: query, schema: { type: string, format: uuid } }
        - { name: lifecycle_stage, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 50, maximum: 200 } }
      responses:
        '200':
          description: 一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Task' } }
    post:
      tags: [tasks]
      summary: タスク作成
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::create_task
      x-screen-ids: [S-I01]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [project_id, category, title, type, estimated_hours]
              properties:
                project_id: { type: string, format: uuid }
                category: { type: string, maxLength: 100 }
                title: { type: string, maxLength: 200 }
                type: { type: string, enum: [foundation, screen, feature, verification, infrastructure, migration] }
                estimated_hours: { type: integer, minimum: 1, maximum: 24 }
                description: { type: string }
                priority: { type: string, enum: [critical, high, medium, low] }
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Task' }

  /tasks/{task_id}:
    parameters:
      - { name: task_id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [tasks]
      summary: タスク詳細
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::get_task
      x-screen-ids: [S-I02]
      responses:
        '200':
          description: 詳細
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Task' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    patch:
      tags: [tasks]
      summary: タスク更新
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::update_task
      x-screen-ids: [S-I02]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string, maxLength: 200 }
                description: { type: string }
                type: { type: string, enum: [foundation, screen, feature, verification, infrastructure, migration] }
                estimated_hours: { type: integer, minimum: 1, maximum: 24 }
                priority: { type: string, enum: [critical, high, medium, low] }
                lifecycle_stage: { type: string, enum: [triage, ready, in_progress, blocked, awaiting, done] }
                blocked_reason: { type: string }
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Task' }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    delete:
      tags: [tasks]
      summary: タスク削除（論理）
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::delete_task
      x-screen-ids: [S-I02]
      responses:
        '204': { description: 削除成功 }
        '403': { description: 権限なし, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /tasks/{task_id}/acceptance-criteria:
    get:
      tags: [tasks]
      summary: 受入条件取得
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::get_acceptance_criteria
      x-screen-ids: [S-I02]
      parameters:
        - { name: task_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 受入条件
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AcceptanceCriteria' }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /tasks/{task_id}/executions:
    get:
      tags: [tasks]
      summary: タスク実行履歴
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::list_executions
      x-screen-ids: [S-I02]
      parameters:
        - { name: task_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 実行履歴
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/TaskExecution' } }
        '404': { description: 不在 or 不可視, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /tasks/{task_id}/executions/{execution_id}:
    get:
      tags: [tasks]
      summary: タスク実行詳細・スコア
      x-implementation-path: apps/api/src/routes/tasks/__init__.py::get_execution
      x-screen-ids: [S-I02]
      parameters:
        - { name: task_id, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: execution_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: 実行詳細
          content:
[...]
